flows.json
[
    {
        "id": "11d3cc1235f0af2b",
        "type": "tab",
        "label": "Drive",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9e358cedb3502371",
        "type": "tab",
        "label": "Audio",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e72346d8a22fcc67",
        "type": "tab",
        "label": "Buttons",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f3235174a9f93161",
        "type": "tab",
        "label": "Lights",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a089350ee861136b",
        "type": "group",
        "z": "11d3cc1235f0af2b",
        "name": "DASHBOARD JOYSTICK CONTROLS",
        "style": {
            "stroke": "#ff0000",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "ae21350df4d8d804",
            "2bdb51cec969d608"
        ],
        "x": 28,
        "y": 13,
        "w": 1004,
        "h": 414
    },
    {
        "id": "16f6d85c3cb65cc5",
        "type": "group",
        "z": "11d3cc1235f0af2b",
        "name": "MOTOR CONTROLS",
        "style": {
            "stroke": "#ff0000",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "bc08c6298927fdf6",
            "1e79b586db74a490"
        ],
        "x": 68,
        "y": 473,
        "w": 924,
        "h": 594
    },
    {
        "id": "da5ed90fb4103544",
        "type": "group",
        "z": "9e358cedb3502371",
        "name": "AUDIO DASHBOARD BUTTONS",
        "style": {
            "stroke": "#ff0000",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "6613164a96c4b9a2",
            "422d9ba7c39cd9b3",
            "d0c26542c01e4a50",
            "6eb264fe6ff173cd",
            "400d0898f5b71254",
            "970fe984257bc25c",
            "b399c56b090d1817",
            "354f981ea8f15c10",
            "d379fb5bb6b9afad",
            "49561fd923600ee2",
            "615104d78aa7c145",
            "e219c306dab85d3f",
            "38e316afe9a03211",
            "52c601256afca68d",
            "0b901857f96ba3fc",
            "4b82689739229710",
            "21a544a7c2ef2b67",
            "4edfe417778472e9",
            "e49a87edbc3f1c96",
            "38007c3b1e81667f",
            "953a7618573412fc",
            "3cd578fa9ae197d2",
            "c7a140f6205bd6cb",
            "11c8215966e01f23",
            "2cba44226cc89d0d",
            "d0a7eae7e4daa40c",
            "17563b7f27f1ebaf",
            "ca51c48340b23be4",
            "f5db6a5e36ce911b",
            "4f647ba29ff35fd2",
            "db833be6c802886a",
            "588562eb18d21c8f",
            "cf4d3ece5c34747f",
            "f867713a60357523",
            "46a465bc3567d240",
            "09d8a6e94c827bf3",
            "897672a288600507",
            "a0afc36b83e67b60",
            "191be494b444590b",
            "827e622d66a97197",
            "ca3951bd0aad71db",
            "a60c88a24deb2d16",
            "88e77741c3041297",
            "7906312d2e283573",
            "ca72cc83881e1ba2",
            "a26955150e5c0650",
            "d3c726d774a93d9c",
            "22a340c3d57677e5",
            "549c4bbfcc0b84de",
            "1f9d1beec114b253",
            "9127d676c3be4f70",
            "5dfebfefca48dc22",
            "2fdc7125b13075de",
            "d3152b49e1f7363e",
            "8531ef7dde99ee9a",
            "78dacee0bcfdabbe",
            "92a1564f1a124a1c",
            "ba4c46a5daf9e595",
            "9dd85f848fde8810",
            "404fb6e542a5602e",
            "294018d50748ef7c",
            "3636387d0c4504b8",
            "c2af28c1df61297e",
            "9d893f8fc7eb0bb3",
            "8290ad662cdd6d01",
            "a34c16a98faaf177",
            "e76d418b34215ade",
            "63395d5e6b3198ac",
            "795b2600930f77c9",
            "35612e5a8b29163f",
            "e2de0b9c2bd08afd",
            "7e4cbee945c2702f",
            "a1d042efba518f02",
            "d6da2a0b7dcbe415",
            "857090c1a6cff314",
            "f8b796751d7f052c",
            "ab8fdfc934a5ea21",
            "c042d6f837e36571",
            "2cd1d34e60c5c173",
            "f4b15812ab511c85",
            "af9c5549dfb2a2f3",
            "b91bfd9c2a564bef",
            "47766feb2a141a0b",
            "f67e71d8f4b6cce2",
            "d57d8dca1b5d31fe",
            "1ba00f1751231f73",
            "4bc45d8db3fa1f4b",
            "f8fe3eacfefd5c15",
            "f9ce5345b435153c",
            "7f037db879140e1a",
            "2d8e2f39c76176a7",
            "f1a2dedcf37b3d3b",
            "decd286cf1ba79d7",
            "c9aef5c52ed49f81",
            "b6b36427c4ae4509",
            "a8582ea6dd7fdec9",
            "bf88e1b01fcedc49",
            "99ab5dba311670c8",
            "f7f32efe1ecc5a03",
            "c99b28cd148e27be",
            "b6c5475126dba710",
            "b7a450edeb6fa1ed",
            "112aa2cb0961a7cb",
            "8f1ec42d021239b0",
            "5214837f9b0d8f68",
            "d8d4622a6f7628b8",
            "bcdafacac67b9075",
            "688389dc770a0f9c",
            "1b3507a5aaa906cf",
            "5b810803df42fe53",
            "6ec00fdc9c1e8658",
            "7a5944b4a97a360a",
            "b27714ba815f2c9d",
            "211be67e99a72808",
            "6370d186d45df6b6",
            "569d85c5c15fcd32",
            "6238fae12f3642bc",
            "4ef6502812095f61",
            "8075695dd501a888",
            "607f9a400f7045ef",
            "78b64b81a798d907",
            "a0250f59df1ff292",
            "58dbe84114efdda0",
            "3fe497694e8a5658",
            "c7572af07ef1754e",
            "73cacccc4546a45c",
            "45a802ebecb9eb0e",
            "8bf9e47bf9bbb917",
            "9f52c7cab27d806e"
        ],
        "x": 14,
        "y": 811.5,
        "w": 1672,
        "h": 1129.5
    },
    {
        "id": "dd6fcf20887a0946",
        "type": "group",
        "z": "9e358cedb3502371",
        "name": "AUDIO SELECTION/VARIABLE INDICATORS ON DASHBOARD",
        "style": {
            "stroke": "#ff0000",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "a81e32d9c2757518",
            "cabc804aa549093d",
            "bec9d116de781e04",
            "7e4c963a3fe1af86",
            "5c86e0dfe71bd08c",
            "c57c9b61e2e1e59c",
            "f213ec984e609190",
            "6301263b28a604c4",
            "30b2a2a392b87194",
            "18b730156766cc46",
            "16777550bb53260c",
            "3b19a84784baa106",
            "d581919724614d05",
            "f54d0851c38f47c7",
            "bd38628955b2cf22",
            "0638bd0d101ebe08",
            "2b9ec7dce2cd6d82",
            "0a7a287a914ba07d",
            "8836ff6b34de4113",
            "afd3797b3600923e",
            "7cb44a72fc18397e",
            "181c289953f2f0c3",
            "3a211895d66d203f",
            "dfc73771a1d53779",
            "c72ef13177bd74f5",
            "7d7725e78844fda3",
            "e6ae5df4116f012d",
            "004049ea333c943d",
            "10a69e64cc4936f5",
            "1ad95a3bf379b029",
            "0aac4c0d975e609f",
            "4992fcd015088650",
            "748c7ee082279dd3",
            "2ce9febe2ecd9fb7",
            "473d0a93aae50c0f",
            "b7e2c17fde2837f9",
            "123d53f0a7ff80c2",
            "d0a9509623d05e96",
            "91bf25ed7f6e61bc",
            "602132a5f07a6888",
            "1e5623e95ad6da01",
            "9a748fdafa602ccf",
            "7650e5b0bc02ab5a",
            "3d32c41a96847969",
            "a07f4381b0df8aaa",
            "444c8fd1634d523f",
            "9e0a824e7c41e120"
        ],
        "x": 14,
        "y": 1959,
        "w": 1672,
        "h": 1102
    },
    {
        "id": "808f7cd80ee40008",
        "type": "group",
        "z": "9e358cedb3502371",
        "name": "CONTROLLER AUDIO PLAY BUTTON",
        "style": {
            "stroke": "#ff0000",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "794360827303d8e5",
            "3a3e33a3c6ab9d55",
            "2ac4fd02ece1f818",
            "832c23e79faeedff",
            "eb71781d78a84fbc",
            "e6d38a040d83c3f0",
            "ccf25d15881c4bb2",
            "01fe1f5954c9681a",
            "88e8dbfbb2982558",
            "94a5aa67fe952585",
            "67c53c1efb03f4a8",
            "e921da7679e22f2d",
            "a26a808431264034",
            "9c8641c3de8b9e9b",
            "7562705f1c2632a0",
            "56579909f1e59a71",
            "ad466e189fb00776",
            "42112bc1ed0d33b4",
            "6959977ec09c3223",
            "a7692b05da7535ec",
            "c99f5c334d17b72c",
            "171348071bf088f4",
            "413480ce8becfb79"
        ],
        "x": 14,
        "y": 19,
        "w": 1682,
        "h": 762
    },
    {
        "id": "1462c619fea152e1",
        "type": "group",
        "z": "f3235174a9f93161",
        "name": "ORIGINAL CAR CONTROLLER POWER - TO ACTIVATE LIGHTS",
        "style": {
            "label": true
        },
        "nodes": [
            "acefecee9e3e88b9"
        ],
        "x": 148,
        "y": 173,
        "w": 824,
        "h": 294
    },
    {
        "id": "eee4d8b1b9e5b309",
        "type": "group",
        "z": "e72346d8a22fcc67",
        "name": "SNES CONTROLLER BUTTON MAPPING",
        "style": {
            "label": true
        },
        "nodes": [
            "9d6bcee681ab9cb9"
        ],
        "x": 28,
        "y": 73,
        "w": 1114,
        "h": 914
    },
    {
        "id": "96f2e21f286ba4d0",
        "type": "group",
        "z": "9e358cedb3502371",
        "name": "VOLUME CONTROL",
        "style": {
            "label": true,
            "stroke": "#ff0000",
            "color": "#000000"
        },
        "nodes": [
            "d9c82c4c7ebc3394",
            "ddadddec2324b5b5",
            "ab1620c9bd47c7e0",
            "ab753d57be2dc0f7",
            "43cdc3a0caa8c53c",
            "fe5971436a1658d7",
            "afd70925abce5561",
            "8198a5f28813ac1a",
            "60830fd5e4029bc5",
            "7248c4ded48008fb",
            "5fba4e0058313c7b",
            "db7f5929c3ac9615",
            "593ed84fe9d9c6c7",
            "ce5fa9d7adade95e",
            "65717ae078bc7cd9",
            "ed6143dd65b6f0d9",
            "c3a99e54720bd6cc",
            "bbaa88bce174122d",
            "44c65bbf0309e0da",
            "6d6235c6da0a2cbd",
            "f560044eefb685ac",
            "873f1b5f4d13e2bc",
            "afd450403dcea2be",
            "af1c08c6ad57a274",
            "8464bf7346761b65"
        ],
        "x": 134,
        "y": 3131.5,
        "w": 1672,
        "h": 597
    },
    {
        "id": "9d6bcee681ab9cb9",
        "type": "group",
        "z": "e72346d8a22fcc67",
        "g": "eee4d8b1b9e5b309",
        "name": "",
        "style": {
            "stroke": "#ffffff",
            "label": true
        },
        "nodes": [
            "2f949789c3c1c8ca",
            "561b3ca40c8fe676",
            "838316454f56dd20",
            "161b169ed5c997f4",
            "9218768e30f3f588",
            "b67517ac66cf82b9",
            "996c8e814d30518b",
            "38d222584f645543",
            "76f2c52702037f63",
            "593f5b3058ebaaa2",
            "6cf180a4791bc4be",
            "3e3c4e7fe1aff1a4",
            "38086f09cf106634",
            "506d89eb8be9abca",
            "2586ef9a02f23fcc",
            "057a78307b2db597",
            "64ad7cf9047a9406",
            "f6feff0340124061",
            "c89435bf17d38f4c",
            "5b4a4afce638f6d6",
            "18a534b89d6b7cb8",
            "ffc334cf68fad335",
            "bc3a861cda7f15bc",
            "fa886f35627060dc",
            "15f680fb2f2dab8e",
            "c1c252a9408c8dc3",
            "cb4d90ea610ebc61",
            "13c29660e58a276a",
            "de70114bb6d396ce",
            "696e4adcad8910ee",
            "e7bd9d05c5f65aae",
            "daeffa8f0eceed69",
            "4282e9115e9e78ac",
            "50658cec8884ed82"
        ],
        "x": 54,
        "y": 99,
        "w": 1062,
        "h": 862
    },
    {
        "id": "acefecee9e3e88b9",
        "type": "group",
        "z": "f3235174a9f93161",
        "g": "1462c619fea152e1",
        "name": "",
        "style": {
            "stroke": "#ffffff",
            "label": true
        },
        "nodes": [
            "906524d001ef16e3",
            "20bdd5112c3b4efd",
            "d702bb93e3b07ad3",
            "8935f38c16b3bace",
            "143aa098dc0ac40f",
            "83bbcb3db552fa4f",
            "6479f7d660fb039f"
        ],
        "x": 174,
        "y": 199,
        "w": 772,
        "h": 242
    },
    {
        "id": "ae21350df4d8d804",
        "type": "group",
        "z": "11d3cc1235f0af2b",
        "g": "a089350ee861136b",
        "name": "",
        "style": {
            "stroke": "#ffffff",
            "label": true
        },
        "nodes": [
            "e5e306e502454a2f",
            "75d312ba036f35c1",
            "965fdc0b5cd27356",
            "2c9a147e08e488b3",
            "6128affd48aae72f",
            "ea9862156e6453ff",
            "1758f100936640ef",
            "b9cf3a669eaccff4",
            "1373adaecf5ff265",
            "df744ccedca4bbd0"
        ],
        "x": 54,
        "y": 39,
        "w": 952,
        "h": 162
    },
    {
        "id": "2bdb51cec969d608",
        "type": "group",
        "z": "11d3cc1235f0af2b",
        "g": "a089350ee861136b",
        "name": "",
        "style": {
            "stroke": "#ffffff",
            "label": true
        },
        "nodes": [
            "c40679d14ffdcec7",
            "2e84e357a1bc2798",
            "00b24be1c6c94c81",
            "6cebd4805a0201a4",
            "a3c8743bdd9e875b",
            "3acf802d252ba379",
            "529237082ae5eb99",
            "d76aa469e0dcbf6d",
            "d2f864666d888327",
            "1afae657dbce79a4",
            "271affcb08fe14f0"
        ],
        "x": 54,
        "y": 219,
        "w": 952,
        "h": 182
    },
    {
        "id": "bc08c6298927fdf6",
        "type": "group",
        "z": "11d3cc1235f0af2b",
        "g": "16f6d85c3cb65cc5",
        "name": "FORWARD/REVERSE",
        "style": {
            "stroke": "#ff0000",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "67483f6af5d3d0f8",
            "0adc0c207f81db73",
            "989ab314e81edc2a",
            "5627ba2ff9367d14",
            "24e9d07194dbfee7",
            "ed9c6acdbccd373e",
            "5766aa36376bd37e",
            "ba703829f7f067a8",
            "fc60cf9c345408f0",
            "95c67334d452efc3",
            "47afb84098b2cc33",
            "98278f8f225f8254",
            "b3ef210b70f30432"
        ],
        "x": 94,
        "y": 499,
        "w": 872,
        "h": 242
    },
    {
        "id": "1e79b586db74a490",
        "type": "group",
        "z": "11d3cc1235f0af2b",
        "g": "16f6d85c3cb65cc5",
        "name": "LEFT/RIGHT",
        "style": {
            "stroke": "#ff0000",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "34d98a5169020263",
            "eb5d11c992a02bde",
            "143daefd00e6f7ce",
            "b922f8f9ae9f7cbd",
            "558bcf9678082b51",
            "754c7d476f3b5ae9",
            "993b7894f4f601b5",
            "e33684427148457d",
            "f0617d9ac69fe58a",
            "d068ef7549370cea"
        ],
        "x": 94,
        "y": 799,
        "w": 872,
        "h": 242
    },
    {
        "id": "4aa9715125abdee5",
        "type": "group",
        "z": "f3235174a9f93161",
        "name": "ORIGINAL CAR CONTROLLER POWER - TO ACTIVATE PROPS",
        "style": {
            "label": true
        },
        "nodes": [
            "40cbace25a57a90e"
        ],
        "x": 158,
        "y": 553,
        "w": 814,
        "h": 294
    },
    {
        "id": "40cbace25a57a90e",
        "type": "group",
        "z": "f3235174a9f93161",
        "g": "4aa9715125abdee5",
        "name": "",
        "style": {
            "stroke": "#ffffff",
            "label": true
        },
        "nodes": [
            "f03057f6b24a0e7c",
            "cc31b38ea589db9a",
            "e8791784cfd5188c",
            "04744b71a4e0ac73",
            "b968831fe79e407d",
            "5033964b5826f580",
            "c5212032e6265216"
        ],
        "x": 184,
        "y": 579,
        "w": 762,
        "h": 242
    },
    {
        "id": "95c67334d452efc3",
        "type": "junction",
        "z": "11d3cc1235f0af2b",
        "g": "bc08c6298927fdf6",
        "x": 440,
        "y": 560,
        "wires": [
            [
                "47afb84098b2cc33"
            ]
        ]
    },
    {
        "id": "47afb84098b2cc33",
        "type": "junction",
        "z": "11d3cc1235f0af2b",
        "g": "bc08c6298927fdf6",
        "x": 780,
        "y": 560,
        "wires": [
            [
                "67483f6af5d3d0f8"
            ]
        ]
    },
    {
        "id": "98278f8f225f8254",
        "type": "junction",
        "z": "11d3cc1235f0af2b",
        "g": "bc08c6298927fdf6",
        "x": 440,
        "y": 680,
        "wires": [
            [
                "b3ef210b70f30432"
            ]
        ]
    },
    {
        "id": "b3ef210b70f30432",
        "type": "junction",
        "z": "11d3cc1235f0af2b",
        "g": "bc08c6298927fdf6",
        "x": 780,
        "y": 680,
        "wires": [
            [
                "0adc0c207f81db73"
            ]
        ]
    },
    {
        "id": "d068ef7549370cea",
        "type": "junction",
        "z": "11d3cc1235f0af2b",
        "g": "1e79b586db74a490",
        "x": 440,
        "y": 860,
        "wires": [
            [
                "a5e7b29fded3ad04"
            ]
        ]
    },
    {
        "id": "a5e7b29fded3ad04",
        "type": "junction",
        "z": "11d3cc1235f0af2b",
        "x": 780,
        "y": 860,
        "wires": [
            [
                "34d98a5169020263"
            ]
        ]
    },
    {
        "id": "252f2608351e9771",
        "type": "junction",
        "z": "11d3cc1235f0af2b",
        "x": 440,
        "y": 980,
        "wires": [
            [
                "eeeeb7b08a65bd4e"
            ]
        ]
    },
    {
        "id": "eeeeb7b08a65bd4e",
        "type": "junction",
        "z": "11d3cc1235f0af2b",
        "x": 780,
        "y": 980,
        "wires": [
            [
                "eb5d11c992a02bde"
            ]
        ]
    },
    {
        "id": "3d32c41a96847969",
        "type": "junction",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "x": 580,
        "y": 2480,
        "wires": [
            [
                "a81e32d9c2757518"
            ]
        ]
    },
    {
        "id": "c3a99e54720bd6cc",
        "type": "junction",
        "z": "9e358cedb3502371",
        "g": "96f2e21f286ba4d0",
        "x": 740,
        "y": 3440,
        "wires": [
            [
                "ce5fa9d7adade95e"
            ]
        ]
    },
    {
        "id": "8935f38c16b3bace",
        "type": "junction",
        "z": "f3235174a9f93161",
        "g": "acefecee9e3e88b9",
        "x": 680,
        "y": 340,
        "wires": [
            [
                "20bdd5112c3b4efd"
            ]
        ]
    },
    {
        "id": "04744b71a4e0ac73",
        "type": "junction",
        "z": "f3235174a9f93161",
        "g": "40cbace25a57a90e",
        "x": 690,
        "y": 720,
        "wires": [
            [
                "cc31b38ea589db9a"
            ]
        ]
    },
    {
        "id": "e65f8386c7d2f56a",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#000000",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#000000",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#000000",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#262626",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "BOOGATTI",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 50,
                "sy": 50,
                "gx": 0,
                "gy": 0,
                "cx": 0,
                "cy": 0,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "3b957ba3c8d290c9",
        "type": "ui_tab",
        "name": "Boogatti",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bfac80f4adb666c8",
        "type": "ui_group",
        "name": "Audio3",
        "tab": "3b957ba3c8d290c9",
        "order": 5,
        "disp": false,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0b6d59f30de4523c",
        "type": "ui_group",
        "name": "Drive",
        "tab": "3b957ba3c8d290c9",
        "order": 2,
        "disp": false,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ad44458cdbe24ffa",
        "type": "ui_group",
        "name": "Audio1",
        "tab": "3b957ba3c8d290c9",
        "order": 3,
        "disp": false,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6fccd81eda2529fa",
        "type": "ui_group",
        "name": "Audio2",
        "tab": "3b957ba3c8d290c9",
        "order": 4,
        "disp": false,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f61ee72d242bb854",
        "type": "global-config",
        "env": []
    },
    {
        "id": "e5e306e502454a2f",
        "type": "ui_joystick",
        "z": "11d3cc1235f0af2b",
        "g": "ae21350df4d8d804",
        "name": "drive",
        "group": "0b6d59f30de4523c",
        "order": 1,
        "width": "6",
        "height": "6",
        "trigger": "all",
        "timeInterval": "100",
        "useThemeColor": true,
        "color": "#000000",
        "threshold": 0.1,
        "directions": "ver",
        "shape": "circle",
        "centerAtRelease": true,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "2c9a147e08e488b3"
            ]
        ]
    },
    {
        "id": "75d312ba036f35c1",
        "type": "switch",
        "z": "11d3cc1235f0af2b",
        "g": "ae21350df4d8d804",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "90",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "270",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 430,
        "y": 120,
        "wires": [
            [
                "ea9862156e6453ff"
            ],
            [
                "6128affd48aae72f"
            ],
            [
                "1758f100936640ef"
            ]
        ]
    },
    {
        "id": "965fdc0b5cd27356",
        "type": "debug",
        "z": "11d3cc1235f0af2b",
        "g": "ae21350df4d8d804",
        "name": "debug 179",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 890,
        "y": 120,
        "wires": []
    },
    {
        "id": "2c9a147e08e488b3",
        "type": "change",
        "z": "11d3cc1235f0af2b",
        "g": "ae21350df4d8d804",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.angle.degree",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 120,
        "wires": [
            [
                "75d312ba036f35c1"
            ]
        ]
    },
    {
        "id": "529237082ae5eb99",
        "type": "ui_joystick",
        "z": "11d3cc1235f0af2b",
        "g": "2bdb51cec969d608",
        "name": "steer",
        "group": "0b6d59f30de4523c",
        "order": 2,
        "width": "6",
        "height": "6",
        "trigger": "all",
        "timeInterval": "100",
        "useThemeColor": true,
        "color": "#000000",
        "threshold": 0.1,
        "directions": "hor",
        "shape": "circle",
        "centerAtRelease": true,
        "x": 130,
        "y": 320,
        "wires": [
            [
                "00b24be1c6c94c81",
                "271affcb08fe14f0"
            ]
        ]
    },
    {
        "id": "6128affd48aae72f",
        "type": "change",
        "z": "11d3cc1235f0af2b",
        "g": "ae21350df4d8d804",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 120,
        "wires": [
            [
                "965fdc0b5cd27356",
                "df744ccedca4bbd0"
            ]
        ]
    },
    {
        "id": "ea9862156e6453ff",
        "type": "change",
        "z": "11d3cc1235f0af2b",
        "g": "ae21350df4d8d804",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "forward",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 80,
        "wires": [
            [
                "965fdc0b5cd27356",
                "b9cf3a669eaccff4"
            ]
        ]
    },
    {
        "id": "1758f100936640ef",
        "type": "change",
        "z": "11d3cc1235f0af2b",
        "g": "ae21350df4d8d804",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "reverse",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 160,
        "wires": [
            [
                "965fdc0b5cd27356",
                "1373adaecf5ff265"
            ]
        ]
    },
    {
        "id": "c40679d14ffdcec7",
        "type": "switch",
        "z": "11d3cc1235f0af2b",
        "g": "2bdb51cec969d608",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "left",
                "vt": "str"
            },
            {
                "t": "null"
            },
            {
                "t": "eq",
                "v": "right",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 430,
        "y": 320,
        "wires": [
            [
                "a3c8743bdd9e875b"
            ],
            [
                "6cebd4805a0201a4"
            ],
            [
                "3acf802d252ba379"
            ]
        ]
    },
    {
        "id": "2e84e357a1bc2798",
        "type": "debug",
        "z": "11d3cc1235f0af2b",
        "g": "2bdb51cec969d608",
        "name": "debug 183",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 890,
        "y": 320,
        "wires": []
    },
    {
        "id": "00b24be1c6c94c81",
        "type": "change",
        "z": "11d3cc1235f0af2b",
        "g": "2bdb51cec969d608",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.direction.x",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 320,
        "wires": [
            [
                "c40679d14ffdcec7"
            ]
        ]
    },
    {
        "id": "6cebd4805a0201a4",
        "type": "change",
        "z": "11d3cc1235f0af2b",
        "g": "2bdb51cec969d608",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "center",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 320,
        "wires": [
            [
                "2e84e357a1bc2798",
                "1afae657dbce79a4"
            ]
        ]
    },
    {
        "id": "a3c8743bdd9e875b",
        "type": "change",
        "z": "11d3cc1235f0af2b",
        "g": "2bdb51cec969d608",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "left",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 280,
        "wires": [
            [
                "2e84e357a1bc2798",
                "d76aa469e0dcbf6d"
            ]
        ]
    },
    {
        "id": "3acf802d252ba379",
        "type": "change",
        "z": "11d3cc1235f0af2b",
        "g": "2bdb51cec969d608",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "right",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 360,
        "wires": [
            [
                "2e84e357a1bc2798",
                "d2f864666d888327"
            ]
        ]
    },
    {
        "id": "b9cf3a669eaccff4",
        "type": "link out",
        "z": "11d3cc1235f0af2b",
        "g": "ae21350df4d8d804",
        "name": "forward out",
        "mode": "link",
        "links": [
            "5766aa36376bd37e"
        ],
        "x": 775,
        "y": 80,
        "wires": []
    },
    {
        "id": "1373adaecf5ff265",
        "type": "link out",
        "z": "11d3cc1235f0af2b",
        "g": "ae21350df4d8d804",
        "name": "reverse out",
        "mode": "link",
        "links": [
            "ba703829f7f067a8"
        ],
        "x": 775,
        "y": 160,
        "wires": []
    },
    {
        "id": "d76aa469e0dcbf6d",
        "type": "link out",
        "z": "11d3cc1235f0af2b",
        "g": "2bdb51cec969d608",
        "name": "left out",
        "mode": "link",
        "links": [
            "993b7894f4f601b5"
        ],
        "x": 775,
        "y": 280,
        "wires": []
    },
    {
        "id": "d2f864666d888327",
        "type": "link out",
        "z": "11d3cc1235f0af2b",
        "g": "2bdb51cec969d608",
        "name": "right out",
        "mode": "link",
        "links": [
            "e33684427148457d"
        ],
        "x": 775,
        "y": 360,
        "wires": []
    },
    {
        "id": "67483f6af5d3d0f8",
        "type": "rpi-gpio out",
        "z": "11d3cc1235f0af2b",
        "g": "bc08c6298927fdf6",
        "name": "",
        "pin": "6",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 880,
        "y": 560,
        "wires": []
    },
    {
        "id": "0adc0c207f81db73",
        "type": "rpi-gpio out",
        "z": "11d3cc1235f0af2b",
        "g": "bc08c6298927fdf6",
        "name": "",
        "pin": "13",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 880,
        "y": 680,
        "wires": []
    },
    {
        "id": "989ab314e81edc2a",
        "type": "change",
        "z": "11d3cc1235f0af2b",
        "g": "bc08c6298927fdf6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 580,
        "wires": [
            [
                "95c67334d452efc3"
            ]
        ]
    },
    {
        "id": "5627ba2ff9367d14",
        "type": "change",
        "z": "11d3cc1235f0af2b",
        "g": "bc08c6298927fdf6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 540,
        "wires": [
            [
                "95c67334d452efc3"
            ]
        ]
    },
    {
        "id": "24e9d07194dbfee7",
        "type": "change",
        "z": "11d3cc1235f0af2b",
        "g": "bc08c6298927fdf6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 700,
        "wires": [
            [
                "98278f8f225f8254"
            ]
        ]
    },
    {
        "id": "ed9c6acdbccd373e",
        "type": "change",
        "z": "11d3cc1235f0af2b",
        "g": "bc08c6298927fdf6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 660,
        "wires": [
            [
                "98278f8f225f8254"
            ]
        ]
    },
    {
        "id": "df744ccedca4bbd0",
        "type": "link out",
        "z": "11d3cc1235f0af2b",
        "g": "ae21350df4d8d804",
        "name": "stop out",
        "mode": "link",
        "links": [
            "fc60cf9c345408f0"
        ],
        "x": 865,
        "y": 80,
        "wires": []
    },
    {
        "id": "5766aa36376bd37e",
        "type": "link in",
        "z": "11d3cc1235f0af2b",
        "g": "bc08c6298927fdf6",
        "name": "forward in",
        "links": [
            "b9cf3a669eaccff4",
            "18a534b89d6b7cb8"
        ],
        "x": 135,
        "y": 580,
        "wires": [
            [
                "5627ba2ff9367d14",
                "24e9d07194dbfee7"
            ]
        ]
    },
    {
        "id": "ba703829f7f067a8",
        "type": "link in",
        "z": "11d3cc1235f0af2b",
        "g": "bc08c6298927fdf6",
        "name": "reverse in",
        "links": [
            "1373adaecf5ff265",
            "ffc334cf68fad335"
        ],
        "x": 135,
        "y": 660,
        "wires": [
            [
                "ed9c6acdbccd373e",
                "989ab314e81edc2a"
            ]
        ]
    },
    {
        "id": "fc60cf9c345408f0",
        "type": "link in",
        "z": "11d3cc1235f0af2b",
        "g": "bc08c6298927fdf6",
        "name": "stop in",
        "links": [
            "df744ccedca4bbd0",
            "bc3a861cda7f15bc"
        ],
        "x": 135,
        "y": 620,
        "wires": [
            [
                "5627ba2ff9367d14",
                "ed9c6acdbccd373e"
            ]
        ]
    },
    {
        "id": "34d98a5169020263",
        "type": "rpi-gpio out",
        "z": "11d3cc1235f0af2b",
        "g": "1e79b586db74a490",
        "name": "",
        "pin": "19",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 880,
        "y": 860,
        "wires": []
    },
    {
        "id": "eb5d11c992a02bde",
        "type": "rpi-gpio out",
        "z": "11d3cc1235f0af2b",
        "g": "1e79b586db74a490",
        "name": "",
        "pin": "26",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 880,
        "y": 980,
        "wires": []
    },
    {
        "id": "143daefd00e6f7ce",
        "type": "change",
        "z": "11d3cc1235f0af2b",
        "g": "1e79b586db74a490",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 880,
        "wires": [
            [
                "d068ef7549370cea"
            ]
        ]
    },
    {
        "id": "b922f8f9ae9f7cbd",
        "type": "change",
        "z": "11d3cc1235f0af2b",
        "g": "1e79b586db74a490",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 840,
        "wires": [
            [
                "d068ef7549370cea"
            ]
        ]
    },
    {
        "id": "558bcf9678082b51",
        "type": "change",
        "z": "11d3cc1235f0af2b",
        "g": "1e79b586db74a490",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 1000,
        "wires": [
            [
                "252f2608351e9771"
            ]
        ]
    },
    {
        "id": "754c7d476f3b5ae9",
        "type": "change",
        "z": "11d3cc1235f0af2b",
        "g": "1e79b586db74a490",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 960,
        "wires": [
            [
                "252f2608351e9771"
            ]
        ]
    },
    {
        "id": "993b7894f4f601b5",
        "type": "link in",
        "z": "11d3cc1235f0af2b",
        "g": "1e79b586db74a490",
        "name": "left in",
        "links": [
            "d76aa469e0dcbf6d",
            "15f680fb2f2dab8e"
        ],
        "x": 135,
        "y": 880,
        "wires": [
            [
                "b922f8f9ae9f7cbd",
                "558bcf9678082b51"
            ]
        ]
    },
    {
        "id": "e33684427148457d",
        "type": "link in",
        "z": "11d3cc1235f0af2b",
        "g": "1e79b586db74a490",
        "name": "right in",
        "links": [
            "d2f864666d888327",
            "fa886f35627060dc"
        ],
        "x": 135,
        "y": 960,
        "wires": [
            [
                "754c7d476f3b5ae9",
                "143daefd00e6f7ce"
            ]
        ]
    },
    {
        "id": "f0617d9ac69fe58a",
        "type": "link in",
        "z": "11d3cc1235f0af2b",
        "g": "1e79b586db74a490",
        "name": "center in",
        "links": [
            "1afae657dbce79a4",
            "de70114bb6d396ce"
        ],
        "x": 135,
        "y": 920,
        "wires": [
            [
                "b922f8f9ae9f7cbd",
                "754c7d476f3b5ae9"
            ]
        ]
    },
    {
        "id": "1afae657dbce79a4",
        "type": "link out",
        "z": "11d3cc1235f0af2b",
        "g": "2bdb51cec969d608",
        "name": "center out",
        "mode": "link",
        "links": [
            "f0617d9ac69fe58a"
        ],
        "x": 865,
        "y": 280,
        "wires": []
    },
    {
        "id": "271affcb08fe14f0",
        "type": "debug",
        "z": "11d3cc1235f0af2b",
        "g": "2bdb51cec969d608",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 260,
        "wires": []
    },
    {
        "id": "615104d78aa7c145",
        "type": "ui_button",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "group": "ad44458cdbe24ffa",
        "order": 6,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "SCREAM 1",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "SCREAM 1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 1160,
        "wires": [
            [
                "e219c306dab85d3f",
                "ca72cc83881e1ba2"
            ]
        ]
    },
    {
        "id": "e219c306dab85d3f",
        "type": "exec",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "command": "mplayer .node-red/audio/scream-1.mp3",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 990,
        "y": 1160,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "38e316afe9a03211",
        "type": "ui_button",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "group": "ad44458cdbe24ffa",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "MOVE",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "MOVE",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 590,
        "y": 1100,
        "wires": [
            [
                "52c601256afca68d",
                "a26955150e5c0650"
            ]
        ]
    },
    {
        "id": "52c601256afca68d",
        "type": "exec",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "command": "mplayer .node-red/audio/move-bitch.mp3",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 990,
        "y": 1100,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "0b901857f96ba3fc",
        "type": "ui_button",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "group": "6fccd81eda2529fa",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "LAUGH 1",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "LAUGH 1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 600,
        "y": 1220,
        "wires": [
            [
                "4b82689739229710",
                "294018d50748ef7c"
            ]
        ]
    },
    {
        "id": "4b82689739229710",
        "type": "exec",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "command": "mplayer .node-red/audio/laugh-1.wav",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1000,
        "y": 1220,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "21a544a7c2ef2b67",
        "type": "ui_button",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "group": "6fccd81eda2529fa",
        "order": 4,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "LAUGH 3",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "LAUGH 3",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 600,
        "y": 1340,
        "wires": [
            [
                "4edfe417778472e9",
                "9dd85f848fde8810"
            ]
        ]
    },
    {
        "id": "4edfe417778472e9",
        "type": "exec",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "command": "mplayer .node-red/audio/laugh-3.wav",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1000,
        "y": 1340,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "e49a87edbc3f1c96",
        "type": "ui_button",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "group": "ad44458cdbe24ffa",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "WORK",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "WORK",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 600,
        "y": 920,
        "wires": [
            [
                "38007c3b1e81667f",
                "549c4bbfcc0b84de"
            ]
        ]
    },
    {
        "id": "38007c3b1e81667f",
        "type": "exec",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "command": "mplayer .node-red/audio/work.mp3",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1010,
        "y": 920,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "953a7618573412fc",
        "type": "ui_button",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "group": "6fccd81eda2529fa",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "LAUGH 4",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "LAUGH 4",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 600,
        "y": 1400,
        "wires": [
            [
                "3cd578fa9ae197d2",
                "ba4c46a5daf9e595"
            ]
        ]
    },
    {
        "id": "3cd578fa9ae197d2",
        "type": "exec",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "command": "mplayer .node-red/audio/laugh-4.wav",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1000,
        "y": 1400,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c7a140f6205bd6cb",
        "type": "ui_button",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "group": "ad44458cdbe24ffa",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "MOST",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "MOST",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 590,
        "y": 980,
        "wires": [
            [
                "11c8215966e01f23",
                "22a340c3d57677e5"
            ]
        ]
    },
    {
        "id": "11c8215966e01f23",
        "type": "exec",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "command": "mplayer .node-red/audio/most.mp3",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1010,
        "y": 980,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "2cba44226cc89d0d",
        "type": "ui_button",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "group": "ad44458cdbe24ffa",
        "order": 4,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "PRETTY",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "SCREAM 3",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 600,
        "y": 1040,
        "wires": [
            [
                "d0a7eae7e4daa40c",
                "d3c726d774a93d9c"
            ]
        ]
    },
    {
        "id": "d0a7eae7e4daa40c",
        "type": "exec",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "command": "mplayer .node-red/audio/my-pretty.wav",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1000,
        "y": 1040,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "17563b7f27f1ebaf",
        "type": "ui_button",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "group": "bfac80f4adb666c8",
        "order": 4,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "GROWL 2",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "GROWL 2",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 1760,
        "wires": [
            [
                "ca51c48340b23be4",
                "2fdc7125b13075de"
            ]
        ]
    },
    {
        "id": "ca51c48340b23be4",
        "type": "exec",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "command": "mplayer .node-red/audio/growl-2.wav",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1000,
        "y": 1760,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "f5db6a5e36ce911b",
        "type": "ui_button",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "group": "bfac80f4adb666c8",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "GROWL 1",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "GROWL 1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 1700,
        "wires": [
            [
                "4f647ba29ff35fd2",
                "d3152b49e1f7363e"
            ]
        ]
    },
    {
        "id": "4f647ba29ff35fd2",
        "type": "exec",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "command": "mplayer .node-red/audio/growl-1.wav",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1000,
        "y": 1700,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "db833be6c802886a",
        "type": "ui_button",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "group": "bfac80f4adb666c8",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "PRICE",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "PRICE",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 590,
        "y": 1640,
        "wires": [
            [
                "588562eb18d21c8f",
                "8531ef7dde99ee9a"
            ]
        ]
    },
    {
        "id": "588562eb18d21c8f",
        "type": "exec",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "command": "mplayer .node-red/audio/price.mp3",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1010,
        "y": 1640,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "cf4d3ece5c34747f",
        "type": "ui_button",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "group": "bfac80f4adb666c8",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "JOHNNY",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "JOHNNY",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 600,
        "y": 1580,
        "wires": [
            [
                "f867713a60357523",
                "78dacee0bcfdabbe"
            ]
        ]
    },
    {
        "id": "f867713a60357523",
        "type": "exec",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "command": "mplayer .node-red/audio/johnny.mp3",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1000,
        "y": 1580,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "46a465bc3567d240",
        "type": "ui_button",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "group": "6fccd81eda2529fa",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "LAUGH 2",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "LAUGH 2",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 600,
        "y": 1280,
        "wires": [
            [
                "09d8a6e94c827bf3",
                "404fb6e542a5602e"
            ]
        ]
    },
    {
        "id": "09d8a6e94c827bf3",
        "type": "exec",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "command": "mplayer .node-red/audio/laugh-2.wav",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1000,
        "y": 1280,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "897672a288600507",
        "type": "ui_button",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "group": "6fccd81eda2529fa",
        "order": 6,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "LAUGH 5",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "LAUGH 5",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 600,
        "y": 1460,
        "wires": [
            [
                "a0afc36b83e67b60",
                "9127d676c3be4f70"
            ]
        ]
    },
    {
        "id": "a0afc36b83e67b60",
        "type": "exec",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "command": "mplayer .node-red/audio/laugh-5.mp3",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1000,
        "y": 1460,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "191be494b444590b",
        "type": "ui_button",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "group": "6fccd81eda2529fa",
        "order": 7,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "THEME",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "THEME",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 600,
        "y": 1520,
        "wires": [
            [
                "a60c88a24deb2d16",
                "92a1564f1a124a1c"
            ]
        ]
    },
    {
        "id": "827e622d66a97197",
        "type": "ui_button",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "group": "bfac80f4adb666c8",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "DEMONS",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "DEMONS",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 600,
        "y": 1820,
        "wires": [
            [
                "ca3951bd0aad71db",
                "5dfebfefca48dc22"
            ]
        ]
    },
    {
        "id": "ca3951bd0aad71db",
        "type": "exec",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "command": "mplayer .node-red/audio/demon_girls.wav",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 990,
        "y": 1820,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "a60c88a24deb2d16",
        "type": "exec",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "command": "mplayer .node-red/audio/theme.mp3",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1000,
        "y": 1520,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "88e77741c3041297",
        "type": "ui_button",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "group": "ad44458cdbe24ffa",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "HORN",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "HORN",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 590,
        "y": 860,
        "wires": [
            [
                "7906312d2e283573",
                "1f9d1beec114b253"
            ]
        ]
    },
    {
        "id": "7906312d2e283573",
        "type": "exec",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "command": "mplayer .node-red/audio/horn.wav",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1010,
        "y": 860,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "d9c82c4c7ebc3394",
        "type": "exec",
        "z": "9e358cedb3502371",
        "g": "96f2e21f286ba4d0",
        "command": "sudo amixer set PCM 100%",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "",
        "x": 1660,
        "y": 3180,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "ddadddec2324b5b5",
        "type": "exec",
        "z": "9e358cedb3502371",
        "g": "96f2e21f286ba4d0",
        "command": "sudo amixer set PCM 95%",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "",
        "x": 1660,
        "y": 3280,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "ab1620c9bd47c7e0",
        "type": "exec",
        "z": "9e358cedb3502371",
        "g": "96f2e21f286ba4d0",
        "command": "sudo amixer set PCM 90%",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "",
        "x": 1660,
        "y": 3380,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "ab753d57be2dc0f7",
        "type": "exec",
        "z": "9e358cedb3502371",
        "g": "96f2e21f286ba4d0",
        "command": "sudo amixer set PCM 85%",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "",
        "x": 1660,
        "y": 3500,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "43cdc3a0caa8c53c",
        "type": "exec",
        "z": "9e358cedb3502371",
        "g": "96f2e21f286ba4d0",
        "command": "sudo amixer set PCM 80%",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "",
        "x": 1660,
        "y": 3580,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "fe5971436a1658d7",
        "type": "exec",
        "z": "9e358cedb3502371",
        "g": "96f2e21f286ba4d0",
        "command": "sudo amixer set PCM 0%",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "",
        "x": 1650,
        "y": 3680,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "afd70925abce5561",
        "type": "switch",
        "z": "9e358cedb3502371",
        "g": "96f2e21f286ba4d0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "lte",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 970,
        "y": 3440,
        "wires": [
            [
                "6d6235c6da0a2cbd",
                "d9c82c4c7ebc3394"
            ],
            [
                "44c65bbf0309e0da",
                "ddadddec2324b5b5"
            ],
            [
                "f560044eefb685ac",
                "ab1620c9bd47c7e0"
            ],
            [
                "873f1b5f4d13e2bc",
                "ab753d57be2dc0f7"
            ],
            [
                "afd450403dcea2be",
                "43cdc3a0caa8c53c"
            ],
            [
                "af1c08c6ad57a274",
                "fe5971436a1658d7"
            ]
        ]
    },
    {
        "id": "60830fd5e4029bc5",
        "type": "function",
        "z": "9e358cedb3502371",
        "g": "96f2e21f286ba4d0",
        "name": "volume up",
        "func": "msg.payload = msg.payload + 1;\n    return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 3360,
        "wires": [
            [
                "c3a99e54720bd6cc"
            ]
        ]
    },
    {
        "id": "8198a5f28813ac1a",
        "type": "function",
        "z": "9e358cedb3502371",
        "g": "96f2e21f286ba4d0",
        "name": "volume down",
        "func": "msg.payload = msg.payload - 1;\n    return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 3400,
        "wires": [
            [
                "c3a99e54720bd6cc"
            ]
        ]
    },
    {
        "id": "7248c4ded48008fb",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "96f2e21f286ba4d0",
        "name": "link in 20",
        "links": [
            "e7bd9d05c5f65aae"
        ],
        "x": 175,
        "y": 3360,
        "wires": [
            [
                "db7f5929c3ac9615"
            ]
        ]
    },
    {
        "id": "5fba4e0058313c7b",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "96f2e21f286ba4d0",
        "name": "link in 21",
        "links": [
            "696e4adcad8910ee"
        ],
        "x": 175,
        "y": 3400,
        "wires": [
            [
                "593ed84fe9d9c6c7"
            ]
        ]
    },
    {
        "id": "db7f5929c3ac9615",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "96f2e21f286ba4d0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "volume",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 3360,
        "wires": [
            [
                "60830fd5e4029bc5"
            ]
        ]
    },
    {
        "id": "593ed84fe9d9c6c7",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "96f2e21f286ba4d0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "volume",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 3400,
        "wires": [
            [
                "8198a5f28813ac1a"
            ]
        ]
    },
    {
        "id": "a81e32d9c2757518",
        "type": "switch",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "12",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "13",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "14",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "15",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "16",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "17",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "18",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "19",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 18,
        "x": 810,
        "y": 2480,
        "wires": [
            [
                "d581919724614d05"
            ],
            [
                "3b19a84784baa106"
            ],
            [
                "16777550bb53260c"
            ],
            [
                "18b730156766cc46"
            ],
            [
                "30b2a2a392b87194"
            ],
            [
                "6301263b28a604c4"
            ],
            [
                "7d7725e78844fda3"
            ],
            [
                "c72ef13177bd74f5"
            ],
            [
                "dfc73771a1d53779"
            ],
            [
                "3a211895d66d203f"
            ],
            [
                "0638bd0d101ebe08"
            ],
            [
                "181c289953f2f0c3"
            ],
            [
                "7cb44a72fc18397e"
            ],
            [
                "afd3797b3600923e"
            ],
            [
                "8836ff6b34de4113"
            ],
            [
                "0a7a287a914ba07d"
            ],
            [
                "2b9ec7dce2cd6d82"
            ],
            [
                "a07f4381b0df8aaa"
            ]
        ]
    },
    {
        "id": "cabc804aa549093d",
        "type": "function",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "previous song",
        "func": "msg.payload = msg.payload - 1;\n    return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 2520,
        "wires": [
            [
                "3d32c41a96847969"
            ]
        ]
    },
    {
        "id": "bec9d116de781e04",
        "type": "function",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "next song",
        "func": "msg.payload = msg.payload + 1;\n    return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 2480,
        "wires": [
            [
                "3d32c41a96847969"
            ]
        ]
    },
    {
        "id": "7e4c963a3fe1af86",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "next",
        "links": [
            "c89435bf17d38f4c"
        ],
        "x": 55,
        "y": 2480,
        "wires": [
            [
                "f54d0851c38f47c7"
            ]
        ]
    },
    {
        "id": "5c86e0dfe71bd08c",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "previous",
        "links": [
            "5b4a4afce638f6d6"
        ],
        "x": 55,
        "y": 2520,
        "wires": [
            [
                "bd38628955b2cf22"
            ]
        ]
    },
    {
        "id": "c57c9b61e2e1e59c",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 2440,
        "wires": [
            [
                "3d32c41a96847969"
            ]
        ]
    },
    {
        "id": "f213ec984e609190",
        "type": "inject",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 2440,
        "wires": [
            [
                "c57c9b61e2e1e59c"
            ]
        ]
    },
    {
        "id": "6301263b28a604c4",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "song",
                "pt": "global",
                "to": "7",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 2300,
        "wires": [
            [
                "4992fcd015088650"
            ]
        ]
    },
    {
        "id": "30b2a2a392b87194",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "song",
                "pt": "global",
                "to": "6",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 2240,
        "wires": [
            [
                "0aac4c0d975e609f"
            ]
        ]
    },
    {
        "id": "18b730156766cc46",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "song",
                "pt": "global",
                "to": "5",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 2180,
        "wires": [
            [
                "1ad95a3bf379b029"
            ]
        ]
    },
    {
        "id": "16777550bb53260c",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "song",
                "pt": "global",
                "to": "4",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 2120,
        "wires": [
            [
                "10a69e64cc4936f5"
            ]
        ]
    },
    {
        "id": "3b19a84784baa106",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "song",
                "pt": "global",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 2060,
        "wires": [
            [
                "004049ea333c943d"
            ]
        ]
    },
    {
        "id": "d581919724614d05",
        "type": "change",
        "z": "9e358cedb3502371",
        "d": true,
        "g": "dd6fcf20887a0946",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "song",
                "pt": "global",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 2000,
        "wires": [
            [
                "e6ae5df4116f012d"
            ]
        ]
    },
    {
        "id": "f54d0851c38f47c7",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "song",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 2480,
        "wires": [
            [
                "bec9d116de781e04"
            ]
        ]
    },
    {
        "id": "bd38628955b2cf22",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "song",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 2520,
        "wires": [
            [
                "cabc804aa549093d"
            ]
        ]
    },
    {
        "id": "794360827303d8e5",
        "type": "switch",
        "z": "9e358cedb3502371",
        "g": "808f7cd80ee40008",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "12",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "13",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "14",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "15",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "16",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "17",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "18",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "19",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 18,
        "x": 510,
        "y": 360,
        "wires": [
            [
                "3a3e33a3c6ab9d55"
            ],
            [
                "2ac4fd02ece1f818"
            ],
            [
                "832c23e79faeedff"
            ],
            [
                "eb71781d78a84fbc"
            ],
            [
                "e6d38a040d83c3f0"
            ],
            [
                "ccf25d15881c4bb2"
            ],
            [
                "01fe1f5954c9681a"
            ],
            [
                "88e8dbfbb2982558"
            ],
            [
                "94a5aa67fe952585"
            ],
            [
                "67c53c1efb03f4a8"
            ],
            [
                "e921da7679e22f2d"
            ],
            [
                "a26a808431264034"
            ],
            [
                "9c8641c3de8b9e9b"
            ],
            [
                "7562705f1c2632a0"
            ],
            [
                "56579909f1e59a71"
            ],
            [
                "ad466e189fb00776"
            ],
            [
                "171348071bf088f4"
            ],
            [
                "413480ce8becfb79"
            ]
        ]
    },
    {
        "id": "3a3e33a3c6ab9d55",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "808f7cd80ee40008",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "3636387d0c4504b8"
        ],
        "x": 1655,
        "y": 60,
        "wires": []
    },
    {
        "id": "2ac4fd02ece1f818",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "808f7cd80ee40008",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "c2af28c1df61297e"
        ],
        "x": 1655,
        "y": 100,
        "wires": []
    },
    {
        "id": "832c23e79faeedff",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "808f7cd80ee40008",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "9d893f8fc7eb0bb3"
        ],
        "x": 1655,
        "y": 140,
        "wires": []
    },
    {
        "id": "eb71781d78a84fbc",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "808f7cd80ee40008",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "8290ad662cdd6d01"
        ],
        "x": 1655,
        "y": 180,
        "wires": []
    },
    {
        "id": "e6d38a040d83c3f0",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "808f7cd80ee40008",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "a34c16a98faaf177"
        ],
        "x": 1655,
        "y": 220,
        "wires": []
    },
    {
        "id": "ccf25d15881c4bb2",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "808f7cd80ee40008",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "e76d418b34215ade"
        ],
        "x": 1655,
        "y": 260,
        "wires": []
    },
    {
        "id": "01fe1f5954c9681a",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "808f7cd80ee40008",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "63395d5e6b3198ac"
        ],
        "x": 1655,
        "y": 300,
        "wires": []
    },
    {
        "id": "88e8dbfbb2982558",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "808f7cd80ee40008",
        "name": "link out 9",
        "mode": "link",
        "links": [
            "795b2600930f77c9"
        ],
        "x": 1655,
        "y": 340,
        "wires": []
    },
    {
        "id": "94a5aa67fe952585",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "808f7cd80ee40008",
        "name": "link out 10",
        "mode": "link",
        "links": [
            "35612e5a8b29163f"
        ],
        "x": 1655,
        "y": 380,
        "wires": []
    },
    {
        "id": "67c53c1efb03f4a8",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "808f7cd80ee40008",
        "name": "link out 11",
        "mode": "link",
        "links": [
            "e2de0b9c2bd08afd"
        ],
        "x": 1655,
        "y": 420,
        "wires": []
    },
    {
        "id": "e921da7679e22f2d",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "808f7cd80ee40008",
        "name": "link out 12",
        "mode": "link",
        "links": [
            "7e4cbee945c2702f"
        ],
        "x": 1655,
        "y": 460,
        "wires": []
    },
    {
        "id": "a26a808431264034",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "808f7cd80ee40008",
        "name": "link out 13",
        "mode": "link",
        "links": [
            "a1d042efba518f02"
        ],
        "x": 1655,
        "y": 500,
        "wires": []
    },
    {
        "id": "9c8641c3de8b9e9b",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "808f7cd80ee40008",
        "name": "link out 14",
        "mode": "link",
        "links": [
            "d6da2a0b7dcbe415"
        ],
        "x": 1655,
        "y": 540,
        "wires": []
    },
    {
        "id": "7562705f1c2632a0",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "808f7cd80ee40008",
        "name": "link out 15",
        "mode": "link",
        "links": [
            "857090c1a6cff314"
        ],
        "x": 1655,
        "y": 580,
        "wires": []
    },
    {
        "id": "56579909f1e59a71",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "808f7cd80ee40008",
        "name": "link out 16",
        "mode": "link",
        "links": [
            "f8b796751d7f052c"
        ],
        "x": 1655,
        "y": 620,
        "wires": []
    },
    {
        "id": "ad466e189fb00776",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "808f7cd80ee40008",
        "name": "link out 17",
        "mode": "link",
        "links": [
            "ab8fdfc934a5ea21"
        ],
        "x": 1655,
        "y": 660,
        "wires": []
    },
    {
        "id": "42112bc1ed0d33b4",
        "type": "debug",
        "z": "9e358cedb3502371",
        "g": "808f7cd80ee40008",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 170,
        "y": 420,
        "wires": []
    },
    {
        "id": "6959977ec09c3223",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "808f7cd80ee40008",
        "name": "play in",
        "links": [
            "daeffa8f0eceed69"
        ],
        "x": 55,
        "y": 380,
        "wires": [
            [
                "42112bc1ed0d33b4",
                "a7692b05da7535ec"
            ]
        ]
    },
    {
        "id": "a7692b05da7535ec",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "808f7cd80ee40008",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "song",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 360,
        "wires": [
            [
                "c99f5c334d17b72c",
                "794360827303d8e5"
            ]
        ]
    },
    {
        "id": "c99f5c334d17b72c",
        "type": "debug",
        "z": "9e358cedb3502371",
        "g": "808f7cd80ee40008",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 350,
        "y": 400,
        "wires": []
    },
    {
        "id": "171348071bf088f4",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "808f7cd80ee40008",
        "name": "link out 18",
        "mode": "link",
        "links": [
            "c042d6f837e36571"
        ],
        "x": 1655,
        "y": 700,
        "wires": []
    },
    {
        "id": "0638bd0d101ebe08",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "song",
                "pt": "global",
                "to": "12",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 2600,
        "wires": [
            [
                "123d53f0a7ff80c2"
            ]
        ]
    },
    {
        "id": "2b9ec7dce2cd6d82",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "song",
                "pt": "global",
                "to": "18",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 2960,
        "wires": [
            [
                "7650e5b0bc02ab5a"
            ]
        ]
    },
    {
        "id": "0a7a287a914ba07d",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "song",
                "pt": "global",
                "to": "17",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 2900,
        "wires": [
            [
                "9a748fdafa602ccf"
            ]
        ]
    },
    {
        "id": "8836ff6b34de4113",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "song",
                "pt": "global",
                "to": "16",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 2840,
        "wires": [
            [
                "1e5623e95ad6da01"
            ]
        ]
    },
    {
        "id": "afd3797b3600923e",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "song",
                "pt": "global",
                "to": "15",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 2780,
        "wires": [
            [
                "602132a5f07a6888"
            ]
        ]
    },
    {
        "id": "7cb44a72fc18397e",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "song",
                "pt": "global",
                "to": "14",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 2720,
        "wires": [
            [
                "91bf25ed7f6e61bc"
            ]
        ]
    },
    {
        "id": "181c289953f2f0c3",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "song",
                "pt": "global",
                "to": "13",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 2660,
        "wires": [
            [
                "d0a9509623d05e96"
            ]
        ]
    },
    {
        "id": "3a211895d66d203f",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "song",
                "pt": "global",
                "to": "11",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 2540,
        "wires": [
            [
                "b7e2c17fde2837f9"
            ]
        ]
    },
    {
        "id": "dfc73771a1d53779",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "song",
                "pt": "global",
                "to": "10",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 2480,
        "wires": [
            [
                "473d0a93aae50c0f"
            ]
        ]
    },
    {
        "id": "c72ef13177bd74f5",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "song",
                "pt": "global",
                "to": "9",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 2420,
        "wires": [
            [
                "2ce9febe2ecd9fb7"
            ]
        ]
    },
    {
        "id": "7d7725e78844fda3",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "song",
                "pt": "global",
                "to": "8",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 2360,
        "wires": [
            [
                "748c7ee082279dd3"
            ]
        ]
    },
    {
        "id": "ca72cc83881e1ba2",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "song",
                "pt": "global",
                "to": "7",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 1160,
        "wires": [
            [
                "f67e71d8f4b6cce2",
                "b6c5475126dba710"
            ]
        ]
    },
    {
        "id": "a26955150e5c0650",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "song",
                "pt": "global",
                "to": "6",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 1100,
        "wires": [
            [
                "47766feb2a141a0b",
                "c99b28cd148e27be"
            ]
        ]
    },
    {
        "id": "d3c726d774a93d9c",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "song",
                "pt": "global",
                "to": "5",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 1040,
        "wires": [
            [
                "b91bfd9c2a564bef",
                "f7f32efe1ecc5a03"
            ]
        ]
    },
    {
        "id": "22a340c3d57677e5",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "song",
                "pt": "global",
                "to": "4",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 980,
        "wires": [
            [
                "af9c5549dfb2a2f3",
                "99ab5dba311670c8"
            ]
        ]
    },
    {
        "id": "549c4bbfcc0b84de",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "song",
                "pt": "global",
                "to": "3",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 920,
        "wires": [
            [
                "f4b15812ab511c85",
                "bf88e1b01fcedc49"
            ]
        ]
    },
    {
        "id": "1f9d1beec114b253",
        "type": "change",
        "z": "9e358cedb3502371",
        "d": true,
        "g": "da5ed90fb4103544",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "song",
                "pt": "global",
                "to": "2",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 860,
        "wires": [
            [
                "2cd1d34e60c5c173",
                "a8582ea6dd7fdec9"
            ]
        ]
    },
    {
        "id": "9127d676c3be4f70",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "song",
                "pt": "global",
                "to": "12",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 1460,
        "wires": [
            [
                "f9ce5345b435153c",
                "d8d4622a6f7628b8"
            ]
        ]
    },
    {
        "id": "5dfebfefca48dc22",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "song",
                "pt": "global",
                "to": "18",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 1820,
        "wires": [
            [
                "b6b36427c4ae4509",
                "7a5944b4a97a360a"
            ]
        ]
    },
    {
        "id": "2fdc7125b13075de",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "song",
                "pt": "global",
                "to": "17",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 1760,
        "wires": [
            [
                "c9aef5c52ed49f81",
                "6ec00fdc9c1e8658"
            ]
        ]
    },
    {
        "id": "d3152b49e1f7363e",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "song",
                "pt": "global",
                "to": "16",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 1700,
        "wires": [
            [
                "decd286cf1ba79d7",
                "5b810803df42fe53"
            ]
        ]
    },
    {
        "id": "8531ef7dde99ee9a",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "song",
                "pt": "global",
                "to": "15",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 1640,
        "wires": [
            [
                "f1a2dedcf37b3d3b",
                "1b3507a5aaa906cf"
            ]
        ]
    },
    {
        "id": "78dacee0bcfdabbe",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "song",
                "pt": "global",
                "to": "14",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 1580,
        "wires": [
            [
                "2d8e2f39c76176a7",
                "688389dc770a0f9c"
            ]
        ]
    },
    {
        "id": "92a1564f1a124a1c",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "song",
                "pt": "global",
                "to": "13",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 1520,
        "wires": [
            [
                "7f037db879140e1a",
                "bcdafacac67b9075"
            ]
        ]
    },
    {
        "id": "ba4c46a5daf9e595",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "song",
                "pt": "global",
                "to": "11",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 1400,
        "wires": [
            [
                "f8fe3eacfefd5c15",
                "5214837f9b0d8f68"
            ]
        ]
    },
    {
        "id": "9dd85f848fde8810",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "song",
                "pt": "global",
                "to": "10",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 1340,
        "wires": [
            [
                "4bc45d8db3fa1f4b",
                "8f1ec42d021239b0"
            ]
        ]
    },
    {
        "id": "404fb6e542a5602e",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "song",
                "pt": "global",
                "to": "9",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 1280,
        "wires": [
            [
                "1ba00f1751231f73",
                "112aa2cb0961a7cb"
            ]
        ]
    },
    {
        "id": "294018d50748ef7c",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "song",
                "pt": "global",
                "to": "8",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 1220,
        "wires": [
            [
                "d57d8dca1b5d31fe",
                "b7a450edeb6fa1ed"
            ]
        ]
    },
    {
        "id": "3636387d0c4504b8",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "horn",
        "links": [
            "3a3e33a3c6ab9d55",
            "f6feff0340124061"
        ],
        "x": 735,
        "y": 880,
        "wires": [
            [
                "1f9d1beec114b253",
                "7906312d2e283573"
            ]
        ]
    },
    {
        "id": "c2af28c1df61297e",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link in 3",
        "links": [
            "2ac4fd02ece1f818"
        ],
        "x": 735,
        "y": 940,
        "wires": [
            [
                "549c4bbfcc0b84de",
                "38007c3b1e81667f"
            ]
        ]
    },
    {
        "id": "9d893f8fc7eb0bb3",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link in 4",
        "links": [
            "832c23e79faeedff"
        ],
        "x": 735,
        "y": 1000,
        "wires": [
            [
                "11c8215966e01f23",
                "22a340c3d57677e5"
            ]
        ]
    },
    {
        "id": "8290ad662cdd6d01",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link in 5",
        "links": [
            "eb71781d78a84fbc"
        ],
        "x": 735,
        "y": 1060,
        "wires": [
            [
                "d0a7eae7e4daa40c",
                "d3c726d774a93d9c"
            ]
        ]
    },
    {
        "id": "a34c16a98faaf177",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link in 6",
        "links": [
            "e6d38a040d83c3f0"
        ],
        "x": 735,
        "y": 1120,
        "wires": [
            [
                "52c601256afca68d",
                "a26955150e5c0650"
            ]
        ]
    },
    {
        "id": "e76d418b34215ade",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link in 7",
        "links": [
            "ccf25d15881c4bb2"
        ],
        "x": 735,
        "y": 1180,
        "wires": [
            [
                "e219c306dab85d3f",
                "ca72cc83881e1ba2"
            ]
        ]
    },
    {
        "id": "63395d5e6b3198ac",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link in 8",
        "links": [
            "01fe1f5954c9681a"
        ],
        "x": 735,
        "y": 1240,
        "wires": [
            [
                "4b82689739229710",
                "294018d50748ef7c"
            ]
        ]
    },
    {
        "id": "795b2600930f77c9",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link in 9",
        "links": [
            "88e8dbfbb2982558"
        ],
        "x": 735,
        "y": 1300,
        "wires": [
            [
                "09d8a6e94c827bf3",
                "404fb6e542a5602e"
            ]
        ]
    },
    {
        "id": "35612e5a8b29163f",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link in 10",
        "links": [
            "94a5aa67fe952585"
        ],
        "x": 735,
        "y": 1360,
        "wires": [
            [
                "4edfe417778472e9",
                "9dd85f848fde8810"
            ]
        ]
    },
    {
        "id": "e2de0b9c2bd08afd",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link in 11",
        "links": [
            "67c53c1efb03f4a8"
        ],
        "x": 735,
        "y": 1420,
        "wires": [
            [
                "3cd578fa9ae197d2",
                "ba4c46a5daf9e595"
            ]
        ]
    },
    {
        "id": "7e4cbee945c2702f",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link in 12",
        "links": [
            "e921da7679e22f2d"
        ],
        "x": 735,
        "y": 1480,
        "wires": [
            [
                "a0afc36b83e67b60",
                "9127d676c3be4f70"
            ]
        ]
    },
    {
        "id": "a1d042efba518f02",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link in 13",
        "links": [
            "a26a808431264034"
        ],
        "x": 735,
        "y": 1540,
        "wires": [
            [
                "a60c88a24deb2d16",
                "92a1564f1a124a1c"
            ]
        ]
    },
    {
        "id": "d6da2a0b7dcbe415",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link in 14",
        "links": [
            "9c8641c3de8b9e9b"
        ],
        "x": 735,
        "y": 1600,
        "wires": [
            [
                "f867713a60357523",
                "78dacee0bcfdabbe"
            ]
        ]
    },
    {
        "id": "857090c1a6cff314",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link in 15",
        "links": [
            "7562705f1c2632a0"
        ],
        "x": 735,
        "y": 1660,
        "wires": [
            [
                "588562eb18d21c8f",
                "8531ef7dde99ee9a"
            ]
        ]
    },
    {
        "id": "f8b796751d7f052c",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link in 16",
        "links": [
            "56579909f1e59a71"
        ],
        "x": 735,
        "y": 1720,
        "wires": [
            [
                "4f647ba29ff35fd2",
                "d3152b49e1f7363e"
            ]
        ]
    },
    {
        "id": "ab8fdfc934a5ea21",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link in 17",
        "links": [
            "ad466e189fb00776"
        ],
        "x": 735,
        "y": 1780,
        "wires": [
            [
                "ca51c48340b23be4",
                "2fdc7125b13075de"
            ]
        ]
    },
    {
        "id": "c042d6f837e36571",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link in 18",
        "links": [
            "171348071bf088f4"
        ],
        "x": 735,
        "y": 1840,
        "wires": [
            [
                "ca3951bd0aad71db",
                "5dfebfefca48dc22"
            ]
        ]
    },
    {
        "id": "6613164a96c4b9a2",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "transparent",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 1380,
        "wires": [
            [
                "88e77741c3041297",
                "e49a87edbc3f1c96",
                "c7a140f6205bd6cb",
                "2cba44226cc89d0d",
                "38e316afe9a03211",
                "615104d78aa7c145",
                "0b901857f96ba3fc",
                "46a465bc3567d240",
                "21a544a7c2ef2b67",
                "953a7618573412fc",
                "897672a288600507",
                "191be494b444590b",
                "cf4d3ece5c34747f",
                "db833be6c802886a",
                "f5db6a5e36ce911b",
                "17563b7f27f1ebaf",
                "827e622d66a97197",
                "6eb264fe6ff173cd"
            ]
        ]
    },
    {
        "id": "422d9ba7c39cd9b3",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "clear colour",
        "links": [
            "2cd1d34e60c5c173",
            "f4b15812ab511c85",
            "af9c5549dfb2a2f3",
            "b91bfd9c2a564bef",
            "47766feb2a141a0b",
            "f67e71d8f4b6cce2",
            "d57d8dca1b5d31fe",
            "1ba00f1751231f73",
            "4bc45d8db3fa1f4b",
            "f8fe3eacfefd5c15",
            "f9ce5345b435153c",
            "7f037db879140e1a",
            "2d8e2f39c76176a7",
            "f1a2dedcf37b3d3b",
            "decd286cf1ba79d7",
            "c9aef5c52ed49f81",
            "b6b36427c4ae4509",
            "354f981ea8f15c10"
        ],
        "x": 145,
        "y": 1380,
        "wires": [
            [
                "6613164a96c4b9a2"
            ]
        ]
    },
    {
        "id": "2cd1d34e60c5c173",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "422d9ba7c39cd9b3"
        ],
        "x": 1485,
        "y": 860,
        "wires": []
    },
    {
        "id": "f4b15812ab511c85",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link out 19",
        "mode": "link",
        "links": [
            "422d9ba7c39cd9b3"
        ],
        "x": 1485,
        "y": 920,
        "wires": []
    },
    {
        "id": "af9c5549dfb2a2f3",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link out 20",
        "mode": "link",
        "links": [
            "422d9ba7c39cd9b3"
        ],
        "x": 1485,
        "y": 980,
        "wires": []
    },
    {
        "id": "b91bfd9c2a564bef",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link out 21",
        "mode": "link",
        "links": [
            "422d9ba7c39cd9b3"
        ],
        "x": 1485,
        "y": 1040,
        "wires": []
    },
    {
        "id": "47766feb2a141a0b",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link out 22",
        "mode": "link",
        "links": [
            "422d9ba7c39cd9b3"
        ],
        "x": 1485,
        "y": 1100,
        "wires": []
    },
    {
        "id": "f67e71d8f4b6cce2",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link out 23",
        "mode": "link",
        "links": [
            "422d9ba7c39cd9b3"
        ],
        "x": 1485,
        "y": 1160,
        "wires": []
    },
    {
        "id": "d57d8dca1b5d31fe",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link out 24",
        "mode": "link",
        "links": [
            "422d9ba7c39cd9b3"
        ],
        "x": 1485,
        "y": 1220,
        "wires": []
    },
    {
        "id": "1ba00f1751231f73",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link out 25",
        "mode": "link",
        "links": [
            "422d9ba7c39cd9b3"
        ],
        "x": 1485,
        "y": 1280,
        "wires": []
    },
    {
        "id": "4bc45d8db3fa1f4b",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link out 26",
        "mode": "link",
        "links": [
            "422d9ba7c39cd9b3"
        ],
        "x": 1485,
        "y": 1340,
        "wires": []
    },
    {
        "id": "f8fe3eacfefd5c15",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link out 27",
        "mode": "link",
        "links": [
            "422d9ba7c39cd9b3"
        ],
        "x": 1485,
        "y": 1400,
        "wires": []
    },
    {
        "id": "f9ce5345b435153c",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link out 28",
        "mode": "link",
        "links": [
            "422d9ba7c39cd9b3"
        ],
        "x": 1485,
        "y": 1460,
        "wires": []
    },
    {
        "id": "7f037db879140e1a",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link out 29",
        "mode": "link",
        "links": [
            "422d9ba7c39cd9b3"
        ],
        "x": 1485,
        "y": 1520,
        "wires": []
    },
    {
        "id": "2d8e2f39c76176a7",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link out 30",
        "mode": "link",
        "links": [
            "422d9ba7c39cd9b3"
        ],
        "x": 1485,
        "y": 1580,
        "wires": []
    },
    {
        "id": "f1a2dedcf37b3d3b",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link out 31",
        "mode": "link",
        "links": [
            "422d9ba7c39cd9b3"
        ],
        "x": 1485,
        "y": 1640,
        "wires": []
    },
    {
        "id": "decd286cf1ba79d7",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link out 32",
        "mode": "link",
        "links": [
            "422d9ba7c39cd9b3"
        ],
        "x": 1485,
        "y": 1700,
        "wires": []
    },
    {
        "id": "c9aef5c52ed49f81",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link out 33",
        "mode": "link",
        "links": [
            "422d9ba7c39cd9b3"
        ],
        "x": 1485,
        "y": 1760,
        "wires": []
    },
    {
        "id": "b6b36427c4ae4509",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link out 34",
        "mode": "link",
        "links": [
            "422d9ba7c39cd9b3"
        ],
        "x": 1485,
        "y": 1820,
        "wires": []
    },
    {
        "id": "a8582ea6dd7fdec9",
        "type": "delay",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1590,
        "y": 860,
        "wires": [
            [
                "88e77741c3041297"
            ]
        ]
    },
    {
        "id": "bf88e1b01fcedc49",
        "type": "delay",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1590,
        "y": 920,
        "wires": [
            [
                "e49a87edbc3f1c96"
            ]
        ]
    },
    {
        "id": "99ab5dba311670c8",
        "type": "delay",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1590,
        "y": 980,
        "wires": [
            [
                "c7a140f6205bd6cb"
            ]
        ]
    },
    {
        "id": "f7f32efe1ecc5a03",
        "type": "delay",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1590,
        "y": 1040,
        "wires": [
            [
                "2cba44226cc89d0d"
            ]
        ]
    },
    {
        "id": "c99b28cd148e27be",
        "type": "delay",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1590,
        "y": 1100,
        "wires": [
            [
                "38e316afe9a03211"
            ]
        ]
    },
    {
        "id": "b6c5475126dba710",
        "type": "delay",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1590,
        "y": 1160,
        "wires": [
            [
                "615104d78aa7c145"
            ]
        ]
    },
    {
        "id": "b7a450edeb6fa1ed",
        "type": "delay",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1590,
        "y": 1220,
        "wires": [
            [
                "0b901857f96ba3fc"
            ]
        ]
    },
    {
        "id": "112aa2cb0961a7cb",
        "type": "delay",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1590,
        "y": 1280,
        "wires": [
            [
                "46a465bc3567d240"
            ]
        ]
    },
    {
        "id": "8f1ec42d021239b0",
        "type": "delay",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1590,
        "y": 1340,
        "wires": [
            [
                "21a544a7c2ef2b67"
            ]
        ]
    },
    {
        "id": "5214837f9b0d8f68",
        "type": "delay",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1590,
        "y": 1400,
        "wires": [
            [
                "953a7618573412fc"
            ]
        ]
    },
    {
        "id": "d8d4622a6f7628b8",
        "type": "delay",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1590,
        "y": 1460,
        "wires": [
            [
                "897672a288600507"
            ]
        ]
    },
    {
        "id": "bcdafacac67b9075",
        "type": "delay",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1590,
        "y": 1520,
        "wires": [
            [
                "191be494b444590b"
            ]
        ]
    },
    {
        "id": "688389dc770a0f9c",
        "type": "delay",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1590,
        "y": 1580,
        "wires": [
            [
                "cf4d3ece5c34747f"
            ]
        ]
    },
    {
        "id": "1b3507a5aaa906cf",
        "type": "delay",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1590,
        "y": 1640,
        "wires": [
            [
                "db833be6c802886a"
            ]
        ]
    },
    {
        "id": "5b810803df42fe53",
        "type": "delay",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1590,
        "y": 1700,
        "wires": [
            [
                "f5db6a5e36ce911b"
            ]
        ]
    },
    {
        "id": "6ec00fdc9c1e8658",
        "type": "delay",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1590,
        "y": 1760,
        "wires": [
            [
                "17563b7f27f1ebaf"
            ]
        ]
    },
    {
        "id": "7a5944b4a97a360a",
        "type": "delay",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1590,
        "y": 1820,
        "wires": [
            [
                "827e622d66a97197"
            ]
        ]
    },
    {
        "id": "d0c26542c01e4a50",
        "type": "inject",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1300,
        "wires": [
            [
                "6613164a96c4b9a2"
            ]
        ]
    },
    {
        "id": "e6ae5df4116f012d",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "link out 35",
        "mode": "link",
        "links": [
            "b27714ba815f2c9d"
        ],
        "x": 1645,
        "y": 2000,
        "wires": []
    },
    {
        "id": "004049ea333c943d",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "link out 36",
        "mode": "link",
        "links": [
            "211be67e99a72808"
        ],
        "x": 1645,
        "y": 2060,
        "wires": []
    },
    {
        "id": "10a69e64cc4936f5",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "link out 37",
        "mode": "link",
        "links": [
            "6370d186d45df6b6"
        ],
        "x": 1645,
        "y": 2120,
        "wires": []
    },
    {
        "id": "1ad95a3bf379b029",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "link out 38",
        "mode": "link",
        "links": [
            "569d85c5c15fcd32"
        ],
        "x": 1645,
        "y": 2180,
        "wires": []
    },
    {
        "id": "0aac4c0d975e609f",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "link out 39",
        "mode": "link",
        "links": [
            "6238fae12f3642bc"
        ],
        "x": 1645,
        "y": 2240,
        "wires": []
    },
    {
        "id": "4992fcd015088650",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "link out 40",
        "mode": "link",
        "links": [
            "4ef6502812095f61"
        ],
        "x": 1645,
        "y": 2300,
        "wires": []
    },
    {
        "id": "748c7ee082279dd3",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "link out 41",
        "mode": "link",
        "links": [
            "8075695dd501a888"
        ],
        "x": 1645,
        "y": 2360,
        "wires": []
    },
    {
        "id": "2ce9febe2ecd9fb7",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "link out 42",
        "mode": "link",
        "links": [
            "607f9a400f7045ef"
        ],
        "x": 1645,
        "y": 2420,
        "wires": []
    },
    {
        "id": "473d0a93aae50c0f",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "link out 43",
        "mode": "link",
        "links": [
            "78b64b81a798d907"
        ],
        "x": 1645,
        "y": 2480,
        "wires": []
    },
    {
        "id": "b7e2c17fde2837f9",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "link out 44",
        "mode": "link",
        "links": [
            "a0250f59df1ff292"
        ],
        "x": 1645,
        "y": 2540,
        "wires": []
    },
    {
        "id": "123d53f0a7ff80c2",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "link out 45",
        "mode": "link",
        "links": [
            "58dbe84114efdda0"
        ],
        "x": 1645,
        "y": 2600,
        "wires": []
    },
    {
        "id": "d0a9509623d05e96",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "link out 46",
        "mode": "link",
        "links": [
            "3fe497694e8a5658"
        ],
        "x": 1645,
        "y": 2660,
        "wires": []
    },
    {
        "id": "91bf25ed7f6e61bc",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "link out 47",
        "mode": "link",
        "links": [
            "c7572af07ef1754e"
        ],
        "x": 1645,
        "y": 2720,
        "wires": []
    },
    {
        "id": "602132a5f07a6888",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "link out 48",
        "mode": "link",
        "links": [
            "73cacccc4546a45c"
        ],
        "x": 1645,
        "y": 2780,
        "wires": []
    },
    {
        "id": "1e5623e95ad6da01",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "link out 49",
        "mode": "link",
        "links": [
            "45a802ebecb9eb0e"
        ],
        "x": 1645,
        "y": 2840,
        "wires": []
    },
    {
        "id": "9a748fdafa602ccf",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "link out 50",
        "mode": "link",
        "links": [
            "8bf9e47bf9bbb917"
        ],
        "x": 1645,
        "y": 2900,
        "wires": []
    },
    {
        "id": "7650e5b0bc02ab5a",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "link out 51",
        "mode": "link",
        "links": [
            "9f52c7cab27d806e"
        ],
        "x": 1645,
        "y": 2960,
        "wires": []
    },
    {
        "id": "b27714ba815f2c9d",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link in 22",
        "links": [
            "e6ae5df4116f012d"
        ],
        "x": 1225,
        "y": 860,
        "wires": [
            [
                "1f9d1beec114b253"
            ]
        ]
    },
    {
        "id": "211be67e99a72808",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link in 23",
        "links": [
            "004049ea333c943d"
        ],
        "x": 1225,
        "y": 920,
        "wires": [
            [
                "549c4bbfcc0b84de"
            ]
        ]
    },
    {
        "id": "6370d186d45df6b6",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link in 24",
        "links": [
            "10a69e64cc4936f5"
        ],
        "x": 1225,
        "y": 980,
        "wires": [
            [
                "22a340c3d57677e5"
            ]
        ]
    },
    {
        "id": "569d85c5c15fcd32",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link in 25",
        "links": [
            "1ad95a3bf379b029"
        ],
        "x": 1225,
        "y": 1040,
        "wires": [
            [
                "d3c726d774a93d9c"
            ]
        ]
    },
    {
        "id": "6238fae12f3642bc",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link in 26",
        "links": [
            "0aac4c0d975e609f"
        ],
        "x": 1225,
        "y": 1100,
        "wires": [
            [
                "a26955150e5c0650"
            ]
        ]
    },
    {
        "id": "4ef6502812095f61",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link in 27",
        "links": [
            "4992fcd015088650"
        ],
        "x": 1225,
        "y": 1160,
        "wires": [
            [
                "ca72cc83881e1ba2"
            ]
        ]
    },
    {
        "id": "8075695dd501a888",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link in 28",
        "links": [
            "748c7ee082279dd3"
        ],
        "x": 1225,
        "y": 1220,
        "wires": [
            [
                "294018d50748ef7c"
            ]
        ]
    },
    {
        "id": "607f9a400f7045ef",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link in 29",
        "links": [
            "2ce9febe2ecd9fb7"
        ],
        "x": 1225,
        "y": 1280,
        "wires": [
            [
                "404fb6e542a5602e"
            ]
        ]
    },
    {
        "id": "78b64b81a798d907",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link in 30",
        "links": [
            "473d0a93aae50c0f"
        ],
        "x": 1225,
        "y": 1340,
        "wires": [
            [
                "9dd85f848fde8810"
            ]
        ]
    },
    {
        "id": "a0250f59df1ff292",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link in 31",
        "links": [
            "b7e2c17fde2837f9"
        ],
        "x": 1225,
        "y": 1400,
        "wires": [
            [
                "ba4c46a5daf9e595"
            ]
        ]
    },
    {
        "id": "58dbe84114efdda0",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link in 32",
        "links": [
            "123d53f0a7ff80c2"
        ],
        "x": 1225,
        "y": 1460,
        "wires": [
            [
                "9127d676c3be4f70"
            ]
        ]
    },
    {
        "id": "3fe497694e8a5658",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link in 33",
        "links": [
            "d0a9509623d05e96"
        ],
        "x": 1225,
        "y": 1520,
        "wires": [
            [
                "92a1564f1a124a1c"
            ]
        ]
    },
    {
        "id": "c7572af07ef1754e",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link in 34",
        "links": [
            "91bf25ed7f6e61bc"
        ],
        "x": 1225,
        "y": 1580,
        "wires": [
            [
                "78dacee0bcfdabbe"
            ]
        ]
    },
    {
        "id": "73cacccc4546a45c",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link in 35",
        "links": [
            "602132a5f07a6888"
        ],
        "x": 1225,
        "y": 1640,
        "wires": [
            [
                "8531ef7dde99ee9a"
            ]
        ]
    },
    {
        "id": "45a802ebecb9eb0e",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link in 36",
        "links": [
            "1e5623e95ad6da01"
        ],
        "x": 1225,
        "y": 1700,
        "wires": [
            [
                "d3152b49e1f7363e"
            ]
        ]
    },
    {
        "id": "8bf9e47bf9bbb917",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link in 37",
        "links": [
            "9a748fdafa602ccf"
        ],
        "x": 1225,
        "y": 1760,
        "wires": [
            [
                "2fdc7125b13075de"
            ]
        ]
    },
    {
        "id": "9f52c7cab27d806e",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link in 38",
        "links": [
            "7650e5b0bc02ab5a"
        ],
        "x": 1225,
        "y": 1820,
        "wires": [
            [
                "5dfebfefca48dc22"
            ]
        ]
    },
    {
        "id": "ce5fa9d7adade95e",
        "type": "ui_slider",
        "z": "9e358cedb3502371",
        "g": "96f2e21f286ba4d0",
        "name": "",
        "label": "VOLUME",
        "tooltip": "",
        "group": "bfac80f4adb666c8",
        "order": 7,
        "width": "8",
        "height": "1",
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "5",
        "step": 1,
        "className": "",
        "x": 840,
        "y": 3440,
        "wires": [
            [
                "afd70925abce5561"
            ]
        ]
    },
    {
        "id": "65717ae078bc7cd9",
        "type": "ui_button",
        "z": "9e358cedb3502371",
        "g": "96f2e21f286ba4d0",
        "name": "",
        "group": "bfac80f4adb666c8",
        "order": 6,
        "width": "2",
        "height": "1",
        "passthru": true,
        "label": "MUTE",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 590,
        "y": 3480,
        "wires": [
            [
                "c3a99e54720bd6cc"
            ]
        ]
    },
    {
        "id": "ed6143dd65b6f0d9",
        "type": "ui_button",
        "z": "9e358cedb3502371",
        "g": "96f2e21f286ba4d0",
        "name": "",
        "group": "bfac80f4adb666c8",
        "order": 8,
        "width": "2",
        "height": "1",
        "passthru": true,
        "label": "UNMUTE",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "3",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 580,
        "y": 3440,
        "wires": [
            [
                "c3a99e54720bd6cc"
            ]
        ]
    },
    {
        "id": "6eb264fe6ff173cd",
        "type": "ui_button",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "group": "bfac80f4adb666c8",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "AIR-RAID",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "DEMONS",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 600,
        "y": 1880,
        "wires": [
            [
                "400d0898f5b71254",
                "970fe984257bc25c"
            ]
        ]
    },
    {
        "id": "400d0898f5b71254",
        "type": "exec",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "command": "mplayer .node-red/audio/air_raid.wav",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 980,
        "y": 1880,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "970fe984257bc25c",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "song",
                "pt": "global",
                "to": "19",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 1880,
        "wires": [
            [
                "354f981ea8f15c10",
                "d379fb5bb6b9afad"
            ]
        ]
    },
    {
        "id": "b399c56b090d1817",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link in 2",
        "links": [
            "413480ce8becfb79"
        ],
        "x": 735,
        "y": 1900,
        "wires": [
            [
                "400d0898f5b71254",
                "970fe984257bc25c"
            ]
        ]
    },
    {
        "id": "354f981ea8f15c10",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link out 52",
        "mode": "link",
        "links": [
            "422d9ba7c39cd9b3"
        ],
        "x": 1485,
        "y": 1880,
        "wires": []
    },
    {
        "id": "d379fb5bb6b9afad",
        "type": "delay",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1590,
        "y": 1880,
        "wires": [
            [
                "6eb264fe6ff173cd"
            ]
        ]
    },
    {
        "id": "49561fd923600ee2",
        "type": "link in",
        "z": "9e358cedb3502371",
        "g": "da5ed90fb4103544",
        "name": "link in 3",
        "links": [
            "444c8fd1634d523f"
        ],
        "x": 1225,
        "y": 1880,
        "wires": [
            [
                "970fe984257bc25c"
            ]
        ]
    },
    {
        "id": "413480ce8becfb79",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "808f7cd80ee40008",
        "name": "link out 53",
        "mode": "link",
        "links": [
            "b399c56b090d1817"
        ],
        "x": 1655,
        "y": 740,
        "wires": []
    },
    {
        "id": "a07f4381b0df8aaa",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "song",
                "pt": "global",
                "to": "18",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 3020,
        "wires": [
            [
                "444c8fd1634d523f"
            ]
        ]
    },
    {
        "id": "444c8fd1634d523f",
        "type": "link out",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "link out 54",
        "mode": "link",
        "links": [
            "49561fd923600ee2"
        ],
        "x": 1645,
        "y": 3020,
        "wires": []
    },
    {
        "id": "bbaa88bce174122d",
        "type": "inject",
        "z": "9e358cedb3502371",
        "g": "96f2e21f286ba4d0",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "str",
        "x": 850,
        "y": 3400,
        "wires": [
            [
                "afd70925abce5561"
            ]
        ]
    },
    {
        "id": "44c65bbf0309e0da",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "96f2e21f286ba4d0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "volume",
                "pt": "global",
                "to": "4",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1630,
        "y": 3280,
        "wires": [
            []
        ]
    },
    {
        "id": "6d6235c6da0a2cbd",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "96f2e21f286ba4d0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "volume",
                "pt": "global",
                "to": "5",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1630,
        "y": 3180,
        "wires": [
            []
        ]
    },
    {
        "id": "f560044eefb685ac",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "96f2e21f286ba4d0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "volume",
                "pt": "global",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1630,
        "y": 3380,
        "wires": [
            []
        ]
    },
    {
        "id": "873f1b5f4d13e2bc",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "96f2e21f286ba4d0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "volume",
                "pt": "global",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1630,
        "y": 3500,
        "wires": [
            []
        ]
    },
    {
        "id": "afd450403dcea2be",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "96f2e21f286ba4d0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "volume",
                "pt": "global",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1630,
        "y": 3580,
        "wires": [
            []
        ]
    },
    {
        "id": "af1c08c6ad57a274",
        "type": "change",
        "z": "9e358cedb3502371",
        "g": "96f2e21f286ba4d0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "volume",
                "pt": "global",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1630,
        "y": 3680,
        "wires": [
            []
        ]
    },
    {
        "id": "8464bf7346761b65",
        "type": "comment",
        "z": "9e358cedb3502371",
        "g": "96f2e21f286ba4d0",
        "name": "DEFAULT VOLUME LEVEL 3 is 90%",
        "info": "",
        "x": 940,
        "y": 3340,
        "wires": []
    },
    {
        "id": "9e0a824e7c41e120",
        "type": "comment",
        "z": "9e358cedb3502371",
        "g": "dd6fcf20887a0946",
        "name": "HORN HAS ITS OWN CONTROLLER BUTTON SO IT'S LEFT OUT (DISABLED) OF THE AUDIO QUEUE---->",
        "info": "",
        "x": 850,
        "y": 2000,
        "wires": []
    },
    {
        "id": "2f949789c3c1c8ca",
        "type": "exec",
        "z": "e72346d8a22fcc67",
        "g": "9d6bcee681ab9cb9",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 310,
        "y": 520,
        "wires": [
            [
                "838316454f56dd20",
                "161b169ed5c997f4"
            ],
            [],
            []
        ]
    },
    {
        "id": "561b3ca40c8fe676",
        "type": "inject",
        "z": "e72346d8a22fcc67",
        "g": "9d6bcee681ab9cb9",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "evtest --grab /dev/input/event0",
        "payloadType": "str",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "2f949789c3c1c8ca"
            ]
        ]
    },
    {
        "id": "838316454f56dd20",
        "type": "debug",
        "z": "e72346d8a22fcc67",
        "g": "9d6bcee681ab9cb9",
        "name": "ALL",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 290,
        "y": 580,
        "wires": []
    },
    {
        "id": "161b169ed5c997f4",
        "type": "switch",
        "z": "e72346d8a22fcc67",
        "g": "9d6bcee681ab9cb9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "(ABS_Y), value 0",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "(ABS_Y), value 128",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "(ABS_Y), value 255",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "(BTN_SOUTH), value 1",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "(BTN_NORTH), value 1",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "(BTN_EAST), value 1",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "(BTN_C), value 1",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "(BTN_Z), value 1",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "(BTN_WEST), value 1",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "(ABS_X), value 255",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "(ABS_X), value 128",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "(ABS_X), value 0",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "(BTN_TL2), value 1",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "(BTN_TR2), value 1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 14,
        "x": 490,
        "y": 520,
        "wires": [
            [
                "9218768e30f3f588",
                "18a534b89d6b7cb8"
            ],
            [
                "b67517ac66cf82b9",
                "bc3a861cda7f15bc"
            ],
            [
                "996c8e814d30518b",
                "ffc334cf68fad335"
            ],
            [
                "daeffa8f0eceed69",
                "38d222584f645543"
            ],
            [
                "76f2c52702037f63",
                "f6feff0340124061"
            ],
            [
                "593f5b3058ebaaa2",
                "cb4d90ea610ebc61"
            ],
            [
                "6cf180a4791bc4be",
                "c1c252a9408c8dc3"
            ],
            [
                "3e3c4e7fe1aff1a4",
                "c89435bf17d38f4c"
            ],
            [
                "38086f09cf106634",
                "5b4a4afce638f6d6"
            ],
            [
                "506d89eb8be9abca",
                "fa886f35627060dc"
            ],
            [
                "13c29660e58a276a",
                "de70114bb6d396ce"
            ],
            [
                "2586ef9a02f23fcc",
                "15f680fb2f2dab8e"
            ],
            [
                "057a78307b2db597",
                "696e4adcad8910ee"
            ],
            [
                "64ad7cf9047a9406",
                "e7bd9d05c5f65aae"
            ]
        ]
    },
    {
        "id": "9218768e30f3f588",
        "type": "debug",
        "z": "e72346d8a22fcc67",
        "g": "9d6bcee681ab9cb9",
        "name": "up",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1000,
        "y": 140,
        "wires": []
    },
    {
        "id": "b67517ac66cf82b9",
        "type": "debug",
        "z": "e72346d8a22fcc67",
        "g": "9d6bcee681ab9cb9",
        "name": "stop",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1000,
        "y": 200,
        "wires": []
    },
    {
        "id": "996c8e814d30518b",
        "type": "debug",
        "z": "e72346d8a22fcc67",
        "g": "9d6bcee681ab9cb9",
        "name": "down",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1000,
        "y": 260,
        "wires": []
    },
    {
        "id": "38d222584f645543",
        "type": "debug",
        "z": "e72346d8a22fcc67",
        "g": "9d6bcee681ab9cb9",
        "name": "x",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1000,
        "y": 320,
        "wires": []
    },
    {
        "id": "76f2c52702037f63",
        "type": "debug",
        "z": "e72346d8a22fcc67",
        "g": "9d6bcee681ab9cb9",
        "name": "y",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1000,
        "y": 380,
        "wires": []
    },
    {
        "id": "593f5b3058ebaaa2",
        "type": "debug",
        "z": "e72346d8a22fcc67",
        "g": "9d6bcee681ab9cb9",
        "name": "a",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1000,
        "y": 440,
        "wires": []
    },
    {
        "id": "6cf180a4791bc4be",
        "type": "debug",
        "z": "e72346d8a22fcc67",
        "g": "9d6bcee681ab9cb9",
        "name": "b",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1000,
        "y": 500,
        "wires": []
    },
    {
        "id": "3e3c4e7fe1aff1a4",
        "type": "debug",
        "z": "e72346d8a22fcc67",
        "g": "9d6bcee681ab9cb9",
        "name": "R",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1000,
        "y": 560,
        "wires": []
    },
    {
        "id": "38086f09cf106634",
        "type": "debug",
        "z": "e72346d8a22fcc67",
        "g": "9d6bcee681ab9cb9",
        "name": "L",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1000,
        "y": 620,
        "wires": []
    },
    {
        "id": "506d89eb8be9abca",
        "type": "debug",
        "z": "e72346d8a22fcc67",
        "g": "9d6bcee681ab9cb9",
        "name": "RIGHT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1010,
        "y": 680,
        "wires": []
    },
    {
        "id": "2586ef9a02f23fcc",
        "type": "debug",
        "z": "e72346d8a22fcc67",
        "g": "9d6bcee681ab9cb9",
        "name": "LEFT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1000,
        "y": 800,
        "wires": []
    },
    {
        "id": "057a78307b2db597",
        "type": "debug",
        "z": "e72346d8a22fcc67",
        "g": "9d6bcee681ab9cb9",
        "name": "SELECT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1010,
        "y": 860,
        "wires": []
    },
    {
        "id": "64ad7cf9047a9406",
        "type": "debug",
        "z": "e72346d8a22fcc67",
        "g": "9d6bcee681ab9cb9",
        "name": "START",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1010,
        "y": 920,
        "wires": []
    },
    {
        "id": "f6feff0340124061",
        "type": "link out",
        "z": "e72346d8a22fcc67",
        "g": "9d6bcee681ab9cb9",
        "name": "y",
        "mode": "link",
        "links": [
            "3636387d0c4504b8"
        ],
        "x": 965,
        "y": 380,
        "wires": []
    },
    {
        "id": "c89435bf17d38f4c",
        "type": "link out",
        "z": "e72346d8a22fcc67",
        "g": "9d6bcee681ab9cb9",
        "name": "R",
        "mode": "link",
        "links": [
            "7e4c963a3fe1af86"
        ],
        "x": 965,
        "y": 560,
        "wires": []
    },
    {
        "id": "5b4a4afce638f6d6",
        "type": "link out",
        "z": "e72346d8a22fcc67",
        "g": "9d6bcee681ab9cb9",
        "name": "L",
        "mode": "link",
        "links": [
            "5c86e0dfe71bd08c"
        ],
        "x": 965,
        "y": 620,
        "wires": []
    },
    {
        "id": "18a534b89d6b7cb8",
        "type": "link out",
        "z": "e72346d8a22fcc67",
        "g": "9d6bcee681ab9cb9",
        "name": "up",
        "mode": "link",
        "links": [
            "5766aa36376bd37e"
        ],
        "x": 965,
        "y": 140,
        "wires": []
    },
    {
        "id": "ffc334cf68fad335",
        "type": "link out",
        "z": "e72346d8a22fcc67",
        "g": "9d6bcee681ab9cb9",
        "name": "down",
        "mode": "link",
        "links": [
            "ba703829f7f067a8"
        ],
        "x": 965,
        "y": 260,
        "wires": []
    },
    {
        "id": "bc3a861cda7f15bc",
        "type": "link out",
        "z": "e72346d8a22fcc67",
        "g": "9d6bcee681ab9cb9",
        "name": "stop",
        "mode": "link",
        "links": [
            "fc60cf9c345408f0"
        ],
        "x": 965,
        "y": 200,
        "wires": []
    },
    {
        "id": "fa886f35627060dc",
        "type": "link out",
        "z": "e72346d8a22fcc67",
        "g": "9d6bcee681ab9cb9",
        "name": "right",
        "mode": "link",
        "links": [
            "e33684427148457d"
        ],
        "x": 965,
        "y": 680,
        "wires": []
    },
    {
        "id": "15f680fb2f2dab8e",
        "type": "link out",
        "z": "e72346d8a22fcc67",
        "g": "9d6bcee681ab9cb9",
        "name": "left",
        "mode": "link",
        "links": [
            "993b7894f4f601b5"
        ],
        "x": 965,
        "y": 800,
        "wires": []
    },
    {
        "id": "c1c252a9408c8dc3",
        "type": "link out",
        "z": "e72346d8a22fcc67",
        "g": "9d6bcee681ab9cb9",
        "name": "b",
        "mode": "link",
        "links": [
            "f03057f6b24a0e7c"
        ],
        "x": 965,
        "y": 500,
        "wires": []
    },
    {
        "id": "cb4d90ea610ebc61",
        "type": "link out",
        "z": "e72346d8a22fcc67",
        "g": "9d6bcee681ab9cb9",
        "name": "a",
        "mode": "link",
        "links": [
            "906524d001ef16e3"
        ],
        "x": 965,
        "y": 440,
        "wires": []
    },
    {
        "id": "13c29660e58a276a",
        "type": "debug",
        "z": "e72346d8a22fcc67",
        "g": "9d6bcee681ab9cb9",
        "name": "center",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1000,
        "y": 740,
        "wires": []
    },
    {
        "id": "de70114bb6d396ce",
        "type": "link out",
        "z": "e72346d8a22fcc67",
        "g": "9d6bcee681ab9cb9",
        "name": "center",
        "mode": "link",
        "links": [
            "f0617d9ac69fe58a"
        ],
        "x": 965,
        "y": 740,
        "wires": []
    },
    {
        "id": "696e4adcad8910ee",
        "type": "link out",
        "z": "e72346d8a22fcc67",
        "g": "9d6bcee681ab9cb9",
        "name": "select",
        "mode": "link",
        "links": [
            "5fba4e0058313c7b"
        ],
        "x": 965,
        "y": 860,
        "wires": []
    },
    {
        "id": "e7bd9d05c5f65aae",
        "type": "link out",
        "z": "e72346d8a22fcc67",
        "g": "9d6bcee681ab9cb9",
        "name": "start",
        "mode": "link",
        "links": [
            "7248c4ded48008fb"
        ],
        "x": 965,
        "y": 920,
        "wires": []
    },
    {
        "id": "daeffa8f0eceed69",
        "type": "link out",
        "z": "e72346d8a22fcc67",
        "g": "9d6bcee681ab9cb9",
        "name": "x",
        "mode": "link",
        "links": [
            "6959977ec09c3223"
        ],
        "x": 965,
        "y": 320,
        "wires": []
    },
    {
        "id": "4282e9115e9e78ac",
        "type": "comment",
        "z": "e72346d8a22fcc67",
        "g": "9d6bcee681ab9cb9",
        "name": "ADJUST EVTEST EVENT# ON INJECT NODE IF NEEDED",
        "info": "",
        "x": 300,
        "y": 360,
        "wires": []
    },
    {
        "id": "50658cec8884ed82",
        "type": "comment",
        "z": "e72346d8a22fcc67",
        "g": "9d6bcee681ab9cb9",
        "name": "Use 'evtest' command to find you event# - which corresponds to usb port",
        "info": "",
        "x": 330,
        "y": 280,
        "wires": []
    },
    {
        "id": "906524d001ef16e3",
        "type": "link in",
        "z": "f3235174a9f93161",
        "g": "acefecee9e3e88b9",
        "name": "link in 19",
        "links": [
            "cb4d90ea610ebc61"
        ],
        "x": 325,
        "y": 240,
        "wires": [
            [
                "d702bb93e3b07ad3"
            ]
        ]
    },
    {
        "id": "20bdd5112c3b4efd",
        "type": "rpi-gpio out",
        "z": "f3235174a9f93161",
        "g": "acefecee9e3e88b9",
        "name": "lights",
        "pin": "21",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 870,
        "y": 340,
        "wires": []
    },
    {
        "id": "d702bb93e3b07ad3",
        "type": "change",
        "z": "f3235174a9f93161",
        "g": "acefecee9e3e88b9",
        "name": "ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 280,
        "wires": [
            [
                "8935f38c16b3bace",
                "143aa098dc0ac40f"
            ]
        ]
    },
    {
        "id": "143aa098dc0ac40f",
        "type": "delay",
        "z": "f3235174a9f93161",
        "g": "acefecee9e3e88b9",
        "name": "ON DELAY",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 490,
        "y": 340,
        "wires": [
            [
                "6479f7d660fb039f"
            ]
        ]
    },
    {
        "id": "6479f7d660fb039f",
        "type": "change",
        "z": "f3235174a9f93161",
        "g": "acefecee9e3e88b9",
        "name": "OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 400,
        "wires": [
            [
                "8935f38c16b3bace"
            ]
        ]
    },
    {
        "id": "83bbcb3db552fa4f",
        "type": "inject",
        "z": "f3235174a9f93161",
        "g": "acefecee9e3e88b9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 280,
        "wires": [
            [
                "d702bb93e3b07ad3"
            ]
        ]
    },
    {
        "id": "f03057f6b24a0e7c",
        "type": "link in",
        "z": "f3235174a9f93161",
        "g": "40cbace25a57a90e",
        "name": "link in 1",
        "links": [
            "c1c252a9408c8dc3"
        ],
        "x": 335,
        "y": 620,
        "wires": [
            [
                "e8791784cfd5188c"
            ]
        ]
    },
    {
        "id": "cc31b38ea589db9a",
        "type": "rpi-gpio out",
        "z": "f3235174a9f93161",
        "d": true,
        "g": "40cbace25a57a90e",
        "name": "prop power",
        "pin": "25",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 850,
        "y": 720,
        "wires": []
    },
    {
        "id": "e8791784cfd5188c",
        "type": "change",
        "z": "f3235174a9f93161",
        "g": "40cbace25a57a90e",
        "name": "ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 660,
        "wires": [
            [
                "04744b71a4e0ac73",
                "b968831fe79e407d"
            ]
        ]
    },
    {
        "id": "b968831fe79e407d",
        "type": "delay",
        "z": "f3235174a9f93161",
        "g": "40cbace25a57a90e",
        "name": "ON DELAY",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 500,
        "y": 720,
        "wires": [
            [
                "c5212032e6265216"
            ]
        ]
    },
    {
        "id": "5033964b5826f580",
        "type": "inject",
        "z": "f3235174a9f93161",
        "g": "40cbace25a57a90e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 660,
        "wires": [
            [
                "e8791784cfd5188c"
            ]
        ]
    },
    {
        "id": "c5212032e6265216",
        "type": "change",
        "z": "f3235174a9f93161",
        "g": "40cbace25a57a90e",
        "name": "OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 780,
        "wires": [
            [
                "04744b71a4e0ac73"
            ]
        ]
    }
]